<P> <img src="https://i.ibb.co/gyNf19D/nhslogo.png" alt="nhslogo" border="0" width="100" align="right"><font size="6"><b> CS6131 Database Design</b> </font>

# Project Final Report Submission

### By Your Name

### Submission Instructions

<div class="alert alert-block alert-info">

* You will need to submit the following files in your final project submission:
    * Final report in Jupyter Notebook format. Name your final report `ProjectFinalReport<YourName>.ipynb`.
    * All relevant source code for your Web UI.
    * All relevant image files to be displayed in this report (make sure you use relevant file referencing and the image will display in another computer).
    * Upload the above in a zip file format to the relevant MS Teams Assignment. 

* Please print a copy of the final report to OneNote Individual Notebook space > Project.

* Any submission that fails to comply to the above instructions will result in upto 5% penalty.

* You may wish to refer to the following reference to help organize and "beautify" your final report here. <br>
https://thecodingbot.com/markdown-in-jupyter-ipython-notebook-cheatsheet/
</div>

### Section A: Overview & Business Rules

#### Overview

<div class="alert alert-block alert-warning">
Complete your writeup of the project overview here.
</div>

Overview:

For this project, the domain chosen is for a database of WW2 events, to aid in learning and studying, as well as a reference. It is modeled after the wikipedia framework, where users can add and edit the database (i.e. contribute). The other aim of this project, besides being for academic purposes, is to spread awareness of WW2. Many of us know that it was devastating, but not many of us know just how devastating it was.

A database system is appropriate as the domain can be modeled as several distinct entities with relationships between them. For example, each country is an entity, and events between countries can be the relationship. The declaration of war is also another example of a relationship. Each entity also has attributes, for example a country can have military strength (numbers of men, ships, aircraft) as attributes. Besides countries, other entities such as military, ships and commander can also have relationships, such as a commander can command a military, a ship can belong to a military, etc. 

While people might think that learning about history and wars is dated, I believe that it is important to learn from our predecessors mistakes in the past and to not make such mistakes again. Even now, despite the heavy anti-semitism and nazism less than a century ago (about 80 years actually) that caused immesaurable pain and suffering to everyone worldwide, people still have not learnt from their mistakes. In the US, white supremacists are increasing in numbers day by day, and neo-nazi and anti-semitic movements are also on the rise. In a UN vote to condemn white supremacy, at least 10 countries voted against. The point is that we must recognize the horrors of the past, and we must spread awareness of the dangers of our actions. Through this site, I hope people recognize the sheer number of people who lost their lives as a result of inter-country conflict, and I hope it gives pause before we embark on a third world war.

#### Business Rules

<div class="alert alert-block alert-warning">
Complete your writeup of the final business rules here.
</div>

Business Rules:


World War 2 was fought between countries. Each country is identified by its name, and has several attributes, its army strength, number of armor, number of battleships, number of carriers, number of cruisers, number of destroyers, number of submarines, number of fighters, number of bombers, number of carriers lost, number of battleships lost, number of cruisers lost, number of destroyers lost, number of submarines lost, number of armor (tanks and SPGs) lost, number of aircraft lost, as well as the military and civilian casualties. Countries also have interactions with each other. A country can surrender to another country, can declare war on another country, and can have historical events with other countries (or themselves). For all of these we keep track of the date that it occurred, and for historical events we include a short description of the event. Events are identified by an ID, while for surrender we identify by the country surrendering. Declaration of war is identified by the two countries involved. 
 

Wars are also fought at places. A place is identified by its name, and it exists in a country. Each place exists only in one country, but a country can have multiple places in it.  

 
Each country also has commanders, who are identified by their name. They also have rank as an attribute. Each commander belongs to one country, but a country can have many commanders. 

 
Each country also has militaries, which are identified by the country they belong to, as well as the name of the military (e.g. German 6th Army, German 1st Panzer Division). They have type as an attribute (infantry, navy, air, armour, etc.). Each military belongs to one country, but a country can have many militaries.  


Militaries are commanded by commanders, and we take note of the start date, end date for which the military was under the command of a particular commander. A military may be commanded by multiple commanders at different dates, and a commander can similarly command multiple militaries at different dates.  

 
Each country also has ships, which are identified by their name (IJN Yukikaze, USS Enterprise, etc.). They also have type (destroyer, light cruisier, heavy cruiser, light aircraft carrier, aircraft carrier, battle cruiser, battleship, submarine, repair ship) as an attribute. A ship can be sunk by another ship, on a particular date. A ship may belong to a military. We take note of the start and end date for which a particular ship was in a particular military. A military can have multiple ships.  

 
Many operations in WW2 involved multiple armies on both sides (Axis and Allies). Thus, each Axis and Allied force is identified by a surrogate key, as well as a list of militaries in each force.  Each military can belong to more than one axis or allied force, and each axis of allied force can be made up of more than one military.  

 
A battle (synonymous with an operation), is identified by its id (a surrogate key), with name, description, and for each side (axis and allies), we keep track of number of carriers lost, number of battleships lost, number of cruisers lost, number of destroyers lost, number of submarines lost, number of armor (tanks and SPGs) lost, number of aircraft lost, and number of casualties (military) as attributes. Furthermore, a battle may be part of another larger battle, and likewise a large battle may comprise several smaller-scale battles.  

 
Finally, Axis, Allied forces may engage in battles at certain places. For these, we take note of the start and end date over which the battle occurred. The relationship for these is many to many to many to many.

### Section B: ER Model

<div class="alert alert-block alert-warning">
Attached the image of your FINAL ER Model here.
</div>

Double click here to insert image:

Please note that in the ER diagram, although MAXNSTR, MAXASTR, MaterielLoss, AxisLoss, AlliesLoss are represented as composite attributes, this is actually not true, and I am only representing them as such due to space constraints (difficult to fit 19 attributes on country for example). All attributes listed as part of composite attribute are actually just normal attributes (and the composite attribute itself is irrelevant). For e.g., NUMCV is connected to MAXNSTR which is connected to country, the actual connection is NUMCV-Country and MAXNSTR is deleted. 


<img src="er.png">

### Section C: Relational Model

<div class="alert alert-block alert-warning">
Attached the image of your FINAL Relational Model here.
</div>

Double click here to insert image:

Similar to the ER diagram, we have grouped some attributes together to make it easier to read the relational schema. These are indicated by non-arrow lines. Just like the ER diagram, the "composite" attribute in the table should be ignored and replaced by the attributes it is linked to. For e.g., NumFight, NumBomb are connected to MAXASTR in the schema, we should replace MAXASTR with NumFight, NumBomb in the actual. 

<img src="rel.png">

### Section D: Normalization

<div class="alert alert-block alert-warning">
State down the FDs here (in bullet or numbered list format).
</div>

Double click here to list down your FDs:


Country  
NAME -> MAXGSTR, NUMARMOR, NUMCV, NUMBB, NUMC, NUMDD, NUMSS, NUMFIGHT, NUMBOMB, NUMARMORL, NUMAIRCRAFTL, NUMCVL,
        NUMBBL, NUMCL, NUMDDL, NUMSSL, MCASUALTY, CCASUALTY  

Place  
NAME -> CNAME  

Commander  
NAME -> COMRANK, CNAME  

Ship  
NAME -> TYPE, CNAME, SUNKBY, SUNKDATE  

Military  
CNAME, NAME -> TYPE 

HasS  
SHIP, MCNAME, MNAME -> SDATE, EDATE 

Surrender  
C1-> C2, DDATE  

War  
C1, C2 -> DATE 

Event  
ID -> C1, C2, SDATE, DESCR  

commandM  
COMNAME, MCNAME, MNAME-> SDATE, EDATE 

Battle   
ID-> NAME, DESCR, AXISNUMARMORL, AXISNUMAIRCRAFTL, AXISNUMCVL, AXISNUMBBL, AXISNUMCL, AXISNUMDDL, AXISNUMSSL, AXISCASUALTY,      ALLIEDNUMARMORL, ALLIEDNUMAIRCRAFTL, ALLIEDNUMCVL, ALLIEDNUMBBL, ALLIEDNUMCL, ALLIEDNUMDDL, ALLIEDNUMSSL,
     ALLIEDCASUALTY, PARTOF
     
has   
ID, PNAME, AXISKEY, ALLIEDKEY -> SDATE, EDATE 

This is in 3NF

### Section E: DDL Schema

<div class="alert alert-block alert-warning">
Fill in the relevant code required to create the relations from your database. <br>
Your code should be end to end (i.e. I should be able to execute on my computer without much problem).
</div>

In [ ]:
%load_ext sql

In [ ]:
%sql mysql+mysqldb://root:admin@localhost/

In [ ]:
%%sql
DROP DATABASE IF EXISTS WW2;
CREATE DATABASE WW2;
USE WW2;

CREATE TABLE COUNTRY(
    NAME VARCHAR(30) PRIMARY KEY,
    MAXGSTR INTEGER(4),
    NUMARMOR INTEGER(4),
    NUMCV INTEGER(4),
    NUMBB INTEGER(4),
    NUMC INTEGER(4),
    NUMDD INTEGER(4),
    NUMSS INTEGER(4),
    NUMFIGHT INTEGER(4),
    NUMBOMB INTEGER(4),
    NUMARMORL INTEGER(4),
    NUMAIRCRAFTL INTEGER(4),
    NUMCVL INTEGER(4),
    NUMBBL INTEGER(4),
    NUMCL INTEGER(4),
    NUMDDL INTEGER(4),
    NUMSSL INTEGER(4),    
    MCASUALTY INTEGER(4),
    CCASUALTY INTEGER(4)
);

CREATE TABLE PLACE(
    NAME VARCHAR(100) PRIMARY KEY,
    CNAME VARCHAR(30),
    FOREIGN KEY (CNAME) REFERENCES COUNTRY(NAME) ON UPDATE CASCADE ON DELETE SET NULL
);

CREATE TABLE COMMANDER(
    NAME VARCHAR(50) PRIMARY KEY,
    COMRANK VARCHAR(30) NOT NULL,
    CNAME VARCHAR(30),
    FOREIGN KEY (CNAME) REFERENCES COUNTRY(NAME) ON UPDATE CASCADE ON DELETE SET NULL
);

CREATE TABLE SHIP(
    NAME VARCHAR(30) PRIMARY KEY,
    TYPE VARCHAR(20) NOT NULL,
    CNAME VARCHAR(30),
    SUNKBY VARCHAR(30),
    SUNKDATE DATE,
    FOREIGN KEY (CNAME) REFERENCES COUNTRY(NAME) ON UPDATE CASCADE ON DELETE SET NULL,
    FOREIGN KEY (SUNKBY) REFERENCES SHIP(NAME) ON UPDATE CASCADE ON DELETE SET NULL
);

CREATE TABLE MILITARY(
    CNAME VARCHAR(30),
    NAME VARCHAR(50),
    TYPE VARCHAR(30) NOT NULL,
    PRIMARY KEY (CNAME, NAME),
    FOREIGN KEY (CNAME) REFERENCES COUNTRY(NAME) ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE HASS(
    SHIP VARCHAR(30),
    MCNAME VARCHAR(30),
    MNAME VARCHAR(50),
    SDATE DATE,
    EDATE DATE,
    PRIMARY KEY (SHIP, MCNAME, MNAME),
    FOREIGN KEY (SHIP) REFERENCES SHIP(NAME) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (MCNAME, MNAME) REFERENCES MILITARY(CNAME, NAME) ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE COMMANDM(
    COMNAME VARCHAR(50),
    MCNAME VARCHAR(30),
    MNAME VARCHAR(50),
    SDATE DATE,
    EDATE DATE,
    PRIMARY KEY (COMNAME, MCNAME, MNAME),
    FOREIGN KEY (COMNAME) REFERENCES COMMANDER(NAME) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (MCNAME, MNAME) REFERENCES MILITARY(CNAME, NAME) ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE SURRENDER(
    C1 VARCHAR(30),
    C2 VARCHAR(30),
    DDATE DATE,
    PRIMARY KEY (C1),
    FOREIGN KEY (C1) REFERENCES COUNTRY(NAME) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (C2) REFERENCES COUNTRY(NAME) ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE WAR(
    C1 VARCHAR(30),
    C2 VARCHAR(30),
    DDATE DATE,
    PRIMARY KEY (C1, C2),
    FOREIGN KEY (C1) REFERENCES COUNTRY(NAME) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (C2) REFERENCES COUNTRY(NAME) ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE EVENT(
    ID INTEGER(4),
    C1 VARCHAR(30),
    C2 VARCHAR(30),
    SDATE DATE,
    DESCR VARCHAR(1000) NOT NULL,
    PRIMARY KEY (ID),
    FOREIGN KEY (C1) REFERENCES COUNTRY(NAME) ON UPDATE CASCADE ON DELETE SET NULL,
    FOREIGN KEY (C2) REFERENCES COUNTRY(NAME) ON UPDATE CASCADE ON DELETE SET NULL
);

CREATE TABLE ALLIES(
    ID INTEGER(4) PRIMARY KEY
);

CREATE TABLE AXIS(
    ID INTEGER(4) PRIMARY KEY
);

CREATE TABLE ALLIEDFORCE(
    MCNAME VARCHAR(30),
    MNAME VARCHAR(50),
    ALLIEDKEY INTEGER(4),
    PRIMARY KEY (MCNAME, MNAME, ALLIEDKEY),
    FOREIGN KEY (MCNAME, MNAME) REFERENCES MILITARY (CNAME, NAME) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (ALLIEDKEY) REFERENCES ALLIES (ID) ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE AXISFORCE(
    MCNAME VARCHAR(30),
    MNAME VARCHAR(50),
    AXISKEY INTEGER(4),
    PRIMARY KEY (MCNAME, MNAME, AXISKEY),
    FOREIGN KEY (MCNAME, MNAME) REFERENCES MILITARY (CNAME, NAME) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (AXISKEY) REFERENCES AXIS (ID) ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE BATTLE(
    ID INTEGER(4) PRIMARY KEY,
    NAME VARCHAR(50),
    DESCR VARCHAR(1000) NOT NULL,
    AXISNUMARMORL INTEGER(4),
    AXISNUMAIRCRAFTL INTEGER(4),
    AXISNUMCVL INTEGER(4),
    AXISNUMBBL INTEGER(4),
    AXISNUMCL INTEGER(4),
    AXISNUMDDL INTEGER(4),
    AXISNUMSSL INTEGER(4),  
    AXISCASUALTY INTEGER(4),
    ALLIEDNUMARMORL INTEGER(4),
    ALLIEDNUMAIRCRAFTL INTEGER(4),
    ALLIEDNUMCVL INTEGER(4),
    ALLIEDNUMBBL INTEGER(4),
    ALLIEDNUMCL INTEGER(4),
    ALLIEDNUMDDL INTEGER(4),
    ALLIEDNUMSSL INTEGER(4),  
    ALLIEDCASUALTY INTEGER(4),
    PARTOF INTEGER(4),
    FOREIGN KEY (PARTOF) REFERENCES BATTLE(ID) ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE HAS(
    ID INTEGER(4),
    PNAME VARCHAR(100),
    AXISKEY INTEGER(4),
    ALLIEDKEY INTEGER(4),
    SDATE DATE,
    EDATE DATE,
    PRIMARY KEY (ID, PNAME, AXISKEY, ALLIEDKEY),
    FOREIGN KEY (ID) REFERENCES BATTLE(ID) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (PNAME) REFERENCES PLACE(NAME) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (AXISKEY) REFERENCES AXIS(ID) ON UPDATE CASCADE ON DELETE CASCADE,
    FOREIGN KEY (ALLIEDKEY) REFERENCES ALLIES(ID) ON UPDATE CASCADE ON DELETE CASCADE
);

CREATE TABLE ACCOUNTS(
    ID INTEGER(4) NOT NULL AUTO_INCREMENT,
    USERNAME VARCHAR(50) NOT NULL,
    PASSWORD VARCHAR(255) NOT NULL,
    EMAIL VARCHAR(255) NOT NULL,
    PRIMARY KEY (ID)
);

CREATE TABLE TABLESTATS(
    ID INTEGER(4) NOT NULL DEFAULT 0,
    NUMUSER INTEGER(4) DEFAULT 0,
    NUMCOUNTRY INTEGER(4) DEFAULT 0,
    NUMPLACE INTEGER(4) DEFAULT 0,
    NUMCOMMANDER INTEGER(4) DEFAULT 0,
    NUMMILITARY INTEGER(4) DEFAULT 0,
    NUMSHIP INTEGER(4) DEFAULT 0,
    NUMEVENT INTEGER(4) DEFAULT 0,
    NUMBATTLE INTEGER(4) DEFAULT 0,
    PRIMARY KEY (ID)
);

CREATE TRIGGER TRIGGER_NUMUSER1 AFTER INSERT ON ACCOUNTS FOR EACH ROW UPDATE TABLESTATS SET NUMUSER=(SELECT COUNT(*) FROM ACCOUNTS);
CREATE TRIGGER TRIGGER_NUMUSER2 AFTER DELETE ON ACCOUNTS FOR EACH ROW UPDATE TABLESTATS SET NUMUSER=(SELECT COUNT(*) FROM ACCOUNTS);
CREATE TRIGGER TRIGGER_NUMCOUNTRY1 AFTER INSERT ON COUNTRY FOR EACH ROW UPDATE TABLESTATS SET NUMCOUNTRY=(SELECT COUNT(*) FROM COUNTRY);
CREATE TRIGGER TRIGGER_NUMCOUNTRY2 AFTER DELETE ON COUNTRY FOR EACH ROW UPDATE TABLESTATS SET NUMCOUNTRY=(SELECT COUNT(*) FROM COUNTRY);
CREATE TRIGGER TRIGGER_NUMPLACE1 AFTER INSERT ON PLACE FOR EACH ROW UPDATE TABLESTATS SET NUMPLACE=(SELECT COUNT(*) FROM PLACE);
CREATE TRIGGER TRIGGER_NUMPLACE2 AFTER DELETE ON PLACE FOR EACH ROW UPDATE TABLESTATS SET NUMPLACE=(SELECT COUNT(*) FROM PLACE);
CREATE TRIGGER TRIGGER_NUMCOMMANDER1 AFTER INSERT ON COMMANDER FOR EACH ROW UPDATE TABLESTATS SET NUMCOMMANDER=(SELECT COUNT(*) FROM COMMANDER);
CREATE TRIGGER TRIGGER_NUMCOMMANDER2 AFTER DELETE ON COMMANDER FOR EACH ROW UPDATE TABLESTATS SET NUMCOMMANDER=(SELECT COUNT(*) FROM COMMANDER);
CREATE TRIGGER TRIGGER_NUMMILITARY1 AFTER INSERT ON MILITARY FOR EACH ROW UPDATE TABLESTATS SET NUMMILITARY=(SELECT COUNT(*) FROM MILITARY);
CREATE TRIGGER TRIGGER_NUMMILITARY2 AFTER DELETE ON MILITARY FOR EACH ROW UPDATE TABLESTATS SET NUMMILITARY=(SELECT COUNT(*) FROM MILITARY);
CREATE TRIGGER TRIGGER_NUMSHIP1 AFTER INSERT ON SHIP FOR EACH ROW UPDATE TABLESTATS SET NUMSHIP=(SELECT COUNT(*) FROM SHIP);
CREATE TRIGGER TRIGGER_NUMSHIP2 AFTER DELETE ON SHIP FOR EACH ROW UPDATE TABLESTATS SET NUMSHIP=(SELECT COUNT(*) FROM SHIP);
CREATE TRIGGER TRIGGER_NUMEVENT1 AFTER INSERT ON EVENT FOR EACH ROW UPDATE TABLESTATS SET NUMEVENT=(SELECT COUNT(*) FROM EVENT);
CREATE TRIGGER TRIGGER_NUMEVENT2 AFTER DELETE ON EVENT FOR EACH ROW UPDATE TABLESTATS SET NUMEVENT=(SELECT COUNT(*) FROM EVENT);
CREATE TRIGGER TRIGGER_NUMBATTLE1 AFTER INSERT ON BATTLE FOR EACH ROW UPDATE TABLESTATS SET NUMBATTLE=(SELECT COUNT(*) FROM BATTLE);
CREATE TRIGGER TRIGGER_NUMBATTLE2 AFTER DELETE ON BATTLE FOR EACH ROW UPDATE TABLESTATS SET NUMBATTLE=(SELECT COUNT(*) FROM BATTLE);

### Section F: Data Population Script

<div class="alert alert-block alert-warning">
Fill in relevant code to populate data into your database. Note that you should use INSERT commands.
</div>

In [ ]:
%%sql
INSERT INTO TABLESTATS VALUES(0, 0, 0, 0, 0, 0, 0, 0, 0);

INSERT INTO COUNTRY VALUES
('Japan', 6095000, 6450, 39, 12, 44, 169, 213, 36520, 22417, 3000, 50000, 19, 8, 37, 134, 130, 2300000, 800000),
('USA', 16112566, 108410, 49, 29, 90, 684, 344, 99465, 96872, 10000, 95000, 14, 3, 10, 83, 52, 407300, 12100),
('USSR', 34476700, 119769, 0, 4, 13, 77, 218, 22301, 21116, 96500, 106400, 0, 1, 2, 30, 102, 11400000, 19000000),
('United Kingdom', 2900000, 47862, 24, 22, 92, 386, 313, 38786, 38158, 15844, 42260, 10, 5, 31, 138, 75, 383700, 67200),
('Germany', 16540835, 67429, 1, 6, 25, 58, 1162, 57653, 28577, 67429, 76875, 0, 4, 9, 27, 765, 5318000, 3000000),
('France', 5900000, 6126, 1, 9, 21, 66, 77, 1114, 1002, 6126, 892, 0, 2, 8, 38, 34, 210000, 390000),
('Italy', 3500000, 3368, 1, 7, 28, 67, 101, 9157, 3381, 3500, 5272, 0, 2, 11, 48, 89, 341000, 153200),
('Belgium', 650000, 200, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 12000, 76000),
('Poland', 1500000, NULL, 0, 0, 2, 7, 8, 159, 154, 880, 398, 0, 0, 1, 3, 2, 240000, 5820000),
('Netherlands', 270000, NULL, 0, 0, 5, 15, 35, 78, 53, 0, 81, 0, 0, 2, 9, 14, 6700, 187300),
('Luxembourg', 684, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 0, 5000),
('Norway', 60000, NULL, 0, 0, 0, 21, 12, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 2000, 8200),
('Denmark', 14500, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 12, NULL, NULL, NULL, NULL, NULL, 26, 6000),
('Greece', 540000, NULL, 0, 0, 2, 19, 9, NULL, NULL, NULL, NULL, 0, 0, 3, 4, 4, 35100, 171800),
('China', 14000000, NULL, 0, 0, 6, 0, 0, NULL, NULL, NULL, 2468, NULL, NULL, NULL, NULL, NULL, 3750000, 18191000),
('Singapore', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 50000),
('Egypt', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 1100, 0),
('Libya', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL),
('Australia', 730000, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 39700, 700),
('Philippines', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, 57000, 500000);

INSERT INTO PLACE VALUES
('Pearl Harbour', 'USA'),
('Stalingrad', 'USSR'),
('Leningrad', 'USSR'),
('Berlin', 'Germany'),
('Moscow', 'USSR'),
('Midway Atoll', 'USA'),
('Normandy', 'France'),
('Lys River', 'Belgium'),
('Fort Eben-Emael', 'Belgium'),
('Anzio', 'Italy'),
('Monte Cassino', 'Italy'),
('Singapore', 'Singapore'),
('Bukit Timah', 'Singapore'),
('Kranji', 'Singapore'),
('Pasir Panjang', 'Singapore'),
('Belgium', 'Belgium'),
('El-Alamein', 'Egypt'),
('Coral Sea', 'Australia'),
('Okinawa', 'Japan'),
('Leyte Gulf', 'Philippines'),
('Guadalcanal', 'United Kingdom'),
('Iwo Jima', 'Japan'),
('Gazala', 'Libya'),
('Denmark Strait', 'Denmark'),
('Atlantic Ocean, west of Brest', 'France'),
('The Ardennes', 'Belgium'),
('Kharkov', 'USSR'),
('Dnieper River', 'USSR'),
('Kiev', 'USSR'),
('Dunkirk', 'France'),
('Tobruk', 'Libya'),
('Central-Eastern-Northeastern Europe', 'USSR'),
('Britain', 'United Kingdom'),
('France', 'France'),
('Philippine Sea', 'Philippines'),
('Bir Hakeim', 'Libya'),
('Luzon', 'Philippines');

INSERT INTO COMMANDER VALUES
('Dwight D. Eisenhower', 'General of the Army', 'USA'),
('Charles de Gaulle', 'Brigadier General', 'France'),
('Douglas MacArthur', 'General of the Army', 'USA'),
('Erwin Rommel', 'Field Marshal', 'Germany'),
('Chuuichi Nagumo', 'Admiral', 'Japan'),
('Andrey Yeryomenko', 'Colonel General', 'USSR'),
('Konstantin Rokossovsky', 'Lieutenant General', 'USSR'),
('Nikolai F. Vatutin', 'Colonel General', 'USSR'),
('Maximilian von Weichs', 'Field Marshal', 'Germany'),
('Erich von Manstein', 'Field Marshal', 'Germany'),
('Kliment Voroshilov', 'Marshal of the Soviet Union', 'USSR'),
('Markian M. Popov', 'General of the Army', 'USSR'),
('Georgy Zhukov', 'Marshal of the Soviet Union', 'USSR'),
('Mikhail Khozin', 'Colonel General', 'USSR'),
('Leonid Govorov', 'Marshal of the Soviet Union', 'USSR'),
('Wilhelm Ritter von Leeb', 'Field Marshal', 'Germany'),
('Georg von Küchler', 'Field Marshal', 'Germany'),
('Tomoyuki Yamashita', 'General', 'Japan'),
('Arthur Ernest Percival', 'Lieutenant General', 'United Kingdom'),
('Mark W. Clark', 'General', 'USA'),
('Lucian K. Truscott', 'General', 'USA'),
('Albert Kesselring', 'Field Marshal', 'Germany'),
('Eberhard von Mackensen', 'Colonel General', 'Germany'),
('Husband E. Kimmel', 'Rear Admiral', 'USA'),
('Bernard Montgomery', 'Field Marshal', 'United Kingdom'),
('Oliver Leese', 'Lieutenant General', 'United Kingdom'),
('Heinrich von Vietinghoff', 'Colonel General', 'Germany'),
('Fedor von Bock', 'Field Marshal', 'Germany'),
('Gerd von Rundstedt', 'Field Marshal', 'Germany'),
('Leopold III', 'King', 'Belgium'),
('John Vereker, 6th Viscount Gort', 'Field Marshal', 'United Kingdom'),
('Maurice Gamelin', 'General', 'France'),
('Walter Koch', 'Lieutenant Colonel', 'Germany'),
('Jean Jottrand', 'Major', 'Belgium'),
('van Trooyen', 'Major General', 'Belgium'),
('Claude Auchinleck', 'Field Marshal', 'United Kingdom'),
('Neil Ritchie', 'General', 'United Kingdom'),
('Georg Stumme', 'Lieutenant General', 'Germany'),
('Isoroku Yamamoto', 'Marshal Admiral', 'Japan'),
('Chester W. Nimitz', 'Fleet Admiral', 'USA'),
('Takuma Nishimura', 'Lieutenant General', 'Japan'),
('John D. Dalley', 'Lieutenant Colonel', 'United Kingdom'),
('Duncan Maxwell', 'Brigadier', 'Australia'),
('Matsui Takurou', 'Lieutenant General', 'Japan'),
('Renya Mutaguchi', 'Lieutenant General', 'Japan'),
('Yoshio Nasu', 'Major General', 'Japan'),
('Harold Burfield Taylor', 'Brigadier', 'Australia'),
('Arthur Leslie Varley', 'Brigadier', 'Australia'),
('Frank Keith Simmons', 'Major General', 'United Kingdom'),
('Soemu Toyoda', 'Admiral', 'Japan'),
('Jisaburou Ozawa', 'Vice Admiral', 'Japan'),
('Mineichi Koga', 'Marshal Admiral', 'Japan'),
('Simon Bolivar Buckner Jr.', 'Lieutenant General', 'USA'),
('Roy Geiger', 'General', 'USA'),
('Joseph Warren Stilwell', 'General', 'USA'),
('Raymond A. Spruance', 'Admiral', 'USA'),
('Mitsuru Ushijima', 'General', 'Japan'),
('Günther Lütjens', 'Admiral', 'Germany'),
('Lancelot E. Holland', 'Vice Admiral', 'United Kingdom'),
('John Tovey, 1st Baron Tovey', 'Admiral of the Fleet', 'United Kingdom'),
('Holland M. Smith', 'General', 'USA'),
('Harry Schmidt', 'General', 'USA'),
('Tadamichi Kuribayashi', 'General', 'Japan'),
('Alan Cunningham', 'General', 'United Kingdom'),
('Richard McCreery', 'General', 'United Kingdom'),
('Leslie Morshead', 'Lieutenant General', 'Australia'),
('Marie-Pierre Kœnig', 'General', 'France'),
('Hermann Hoth', 'Colonel General', 'Germany'),
('Erhard Raus', 'Colonel General', 'Germany'),
('Erich Hoepner', 'Colonel General', 'Germany'),
('Richard Ruoff', 'Colonel General', 'Germany'),
('Günther von Kluge', 'Field Marshal', 'Germany'),
('Wilhelm List', 'Field Marshal', 'Germany'),
('Adolf Hitler', 'Führer', 'Germany'),
('Ewald von Kleist', 'Field Marshal', 'Germany'),
('Ivan Konev', 'Marshal of the Soviet Union', 'USSR'),
('Rodion Malinovsky', 'Marshal of the Soviet Union', 'USSR'),
('Fyodor Tolbukhin', 'Marshal of the Soviet Union', 'USSR'),
('Wolfram Freiherr von Richthofen', 'Field Marshal', 'Germany'),
('Sergei Rudenko', 'Marshal of the Aviation', 'USSR'),
('Semyon Timoshenko', 'Marshal of the Soviet Union', 'USSR'),
('Mikhail Kirponos', 'Colonel General', 'USSR'),
('Fyodor Kostenko', 'Lieutenant General', 'USSR'),
('Viktor Tsyganov', 'Lieutenant General', 'USSR'),
('Walter von Reichenau', 'Field Marshal', 'Germany'),
('Friedrich Paulus', 'Field Marshal', 'Germany'),
('Walter Model', 'Field Marshal', 'Germany'),
('Omar Bradley', 'General of the Army', 'USA'),
('Jacob L. Devers', 'General', 'USA'),
('Antoine-Marie-Benoît Besson', 'General', 'France'),
('André-Gaston Prételat', 'General', 'France'),
('Georges Maurice Jean Blanchard', 'General', 'France'),
('Gaston-Henri Billotte', 'General', 'France'),
('Dmitry Pavlov', 'General of the Army', 'USSR'),
('Yakov Cherevichenko', 'Colonel General', 'USSR'),
('Dmitry Ryabyshev', 'Lieutenant General', 'USSR'),
('Ivan Tyulenev', 'General of the Army', 'USSR'),
('Ivan Bogdanov', 'Lieutenant General', 'USSR'),
('Semyon Budyonny', 'Marshal of the Soviet Union', 'USSR'),
('William Halsey Jr.', 'Fleet Admiral', 'USA'),
('Arthur S. Carpender', 'Admiral', 'USA'),
('Thomas C. Kinkaid', 'Admiral', 'USA'),
('Heinrich Himmler', 'Reichsführer-SS', 'Germany'),
('Gotthard Heinrici', 'Colonel General', 'Germany'),
('Kurt Student', 'Colonel General', 'Germany'),
('Masaharu Homma', 'Lieutenant General', 'Japan'),
('Shizuichi Tanaka', 'General', 'Japan'),
('Shigenori Kuroda', 'Lieutenant General', 'Japan'),
('George P. Hayes', 'Major General', 'USA'),
('Walter Krueger', 'General', 'USA');

INSERT INTO MILITARY VALUES
('Japan', '1st Air Fleet (Kidou Butai)', 'Naval-Air Force'),
('USSR', 'Stalingrad Front', 'Ground Force'),
('USSR', 'Don Front', 'Ground Force'),
('USSR', 'Southwestern Front', 'Ground Force'),
('Germany', 'Army Group B', 'Ground Force'),
('Germany', 'Army Group Don', 'Ground Force'),
('USSR', 'Northern Front', 'Ground Force'),
('USSR', 'Leningrad Front', 'Ground Force'),
('Germany', 'Army Group North', 'Ground Force'),
('Japan', '25th Army', 'Ground Force'),
('United Kingdom', 'Malaya Command', 'Ground Force'),
('USA', '5th Army', 'Ground Force'),
('Germany', 'Army Group C', 'Ground Force'),
('Germany', '14th Army', 'Ground Force'),
('USA', 'Pacific Fleet', 'Naval-Air Force'),
('Germany', '10th Army', 'Ground Force'),
('United Kingdom', '8th Army', 'Ground Force'),
('Germany', 'Army Group A', 'Ground Force'),
('Belgium', 'Belgian Army', 'Ground Force'),
('France', 'French First Army Group', 'Ground Force'),
('Germany', 'Assault Detachment Koch', 'Paratrooper'),
('Belgium', '7th Infantry Division', 'Ground Force'),
('Belgium', 'Garrison of Fort Eben-Emael', 'Garrison'),
('Germany', 'Panzer Army Africa', 'Ground-Armor Force'),
('Japan', 'Combined Fleet (Rengou Kantai)', 'Naval-Air Force'),
('Japan', 'Imperial Guards (Konoe Shidan)', 'Ground Force'),
('Singapore', 'Dalforce', 'Irregular/Guerrilla Force'),
('Australia', '27th Brigade', 'Ground Force'),
('Japan', '5th Division', 'Ground Force'),
('Japan', '18th Division', 'Ground Force'),
('Japan', '56th Infantry Regiment', 'Ground Force'),
('Australia', '22nd Brigade', 'Ground Force'),
('United Kingdom', '1st Malaya Infantry Brigade', 'Ground Force'),
('USA', '10th Army', 'Ground Force'),
('USA', '5th Fleet', 'Naval-Air Force'),
('Japan', '32nd Army', 'Ground Force'),
('Germany', 'Operation Rheinübung Task Force', 'Naval Force'),
('United Kingdom', 'Battlecruiser Squadron', 'Naval Force'),
('United Kingdom', 'Home Fleet', 'Naval-Air Force'),
('USA', 'V Amphibious Corps', 'Marines'),
('Japan', '109th Division', 'Ground Force'),
('United Kingdom', 'British Expeditionary Force', 'Ground Force'),
('France', '1st Free French Brigade', 'Ground Force'),
('Australia', '9th Australian Division', 'Ground Force'),
('USSR', '1st Ukrainian Front', 'Ground Force'),
('Germany', '4th Panzer Army', 'Ground-Armor Force'),
('Germany', 'Army Group South', 'Ground Force'),
('Germany', 'Army Group Center', 'Ground Force'),
('USSR', '2nd Ukrainian Front', 'Ground Force'),
('USSR', '3rd Ukrainian Front', 'Ground Force'),
('USSR', '4th Ukrainian Front', 'Ground Force'),
('USSR', '1st Belorussian Front', 'Ground Force'),
('Germany', '1st Panzer Army', 'Ground-Armor Force'),
('Germany', '4th Air Fleet', 'Air Force'),
('USSR', 'Central Front', 'Ground Force'),
('USSR', '16th Air Army', 'Air Force'),
('USSR', '38th Army', 'Ground Force'),
('Germany', '6th Army', 'Ground Force'),
('USA', '12th Army Group', 'Ground Force'),
('USA', '6th Army Group', 'Ground Force'),
('United Kingdom', '21st Army Group', 'Ground Force'),
('France', '1st Army Group', 'Ground Force'),
('France', '2nd Army Group', 'Ground Force'),
('France', '3rd Army Group', 'Ground Force'),
('Japan', '1st Mobile Fleet', 'Naval Force'),
('USSR', 'Western Front', 'Ground Force'),
('USSR', 'Northwestern Front', 'Ground Force'),
('USSR', 'Southern Front', 'Ground Force'),
('USSR', 'Reserve Front', 'Ground Force'),
('USA', '3rd Fleet', 'Naval-Air Force'),
('USA', '7th Fleet', 'Naval-Air Force'),
('USSR', '2nd Belorussian Front', 'Ground Force'),
('Germany', 'Army Group Vistula', 'Ground Force'),
('Germany', 'Luftwaffe', 'Air Force'),
('United Kingdom', 'Royal Air Force', 'Air Force'),
('Japan', '14th Area Army', 'Ground Force'),
('USA', '6th Army', 'Ground Force');

INSERT INTO COMMANDM VALUES
('Chuuichi Nagumo', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-12-07', '1942-07-14'),
('Andrey Yeryomenko', 'USSR', 'Stalingrad Front', '1942-08-04', '1943-02-02'),
('Konstantin Rokossovsky', 'USSR', 'Don Front', '1942-09-30', '1943-02-15'),
('Nikolai F. Vatutin', 'USSR', 'Southwestern Front', '1942-10-22', '1943-03-01'),
('Maximilian von Weichs', 'Germany', 'Army Group B', '1942-08-01', '1943-02-01'),
('Erich von Manstein', 'Germany', 'Army Group Don', '1942-11-21', '1943-02-12'),
('Markian M. Popov', 'USSR', 'Northern Front', '1941-06-24', '1941-08-23'),
('Markian M. Popov', 'USSR', 'Leningrad Front', '1941-08-23', '1941-09-01'),
('Georgy Zhukov', 'USSR', 'Leningrad Front', '1941-09-01', '1941-10-01'),
('Mikhail Khozin', 'USSR', 'Leningrad Front', '1941-10-01', '1942-06-01'),
('Leonid Govorov', 'USSR', 'Leningrad Front', '1942-06-01', '1945-07-01'),
('Fedor von Bock', 'Germany', 'Army Group North', '1939-08-27', '1941-06-20'),
('Wilhelm Ritter von Leeb', 'Germany', 'Army Group North', '1941-06-20', '1942-01-17'),
('Georg von Küchler', 'Germany', 'Army Group North', '1942-01-17', '1944-01-09'),
('Walter Model', 'Germany', 'Army Group North', '1944-01-09', '1944-03-31'),
('Tomoyuki Yamashita', 'Japan', '25th Army', '1941-11-06', '1942-07-01'),
('Arthur Ernest Percival', 'United Kingdom', 'Malaya Command', '1941-05-16', '1942-02-15'),
('Mark W. Clark', 'USA', '5th Army', '1943-01-04', '1944-12-16'),
('Lucian K. Truscott', 'USA', '5th Army', '1944-12-16', '1945-10-02'),
('Albert Kesselring', 'Germany', 'Army Group C', '1943-11-21', '1944-10-26'),
('Eberhard von Mackensen', 'Germany', '14th Army', '1943-11-05', '1944-06-04'),
('Husband E. Kimmel', 'USA', 'Pacific Fleet', '1941-02-01', '1941-12-17'),
('Bernard Montgomery', 'United Kingdom', '8th Army', '1942-08-13', '1943-12-29'),
('Oliver Leese', 'United Kingdom', '8th Army', '1943-12-29', '1944-10-01'),
('Heinrich von Vietinghoff', 'Germany', '10th Army', '1943-08-15', '1944-10-24'),
('Fedor von Bock', 'Germany', 'Army Group B', '1939-10-12', '1941-06-22'),
('Gerd von Rundstedt', 'Germany', 'Army Group A', '1939-10-15', '1940-10-01'),
('Leopold III', 'Belgium', 'Belgian Army', NULL, NULL),
('John Vereker, 6th Viscount Gort', 'United Kingdom', 'British Expeditionary Force', '1939-09-02', '1940-05-31'),
('Maurice Gamelin', 'France', 'French First Army Group', '1939-09-03', '1940-05-17'),
('Walter Koch', 'Germany', 'Assault Detachment Koch', '1939-11-02', '1940-08-31'),
('van Trooyen', 'Belgium', '7th Infantry Division', '1940-05-10', '1940-05-28'),
('Jean Jottrand', 'Belgium', 'Garrison of Fort Eben-Emael', NULL, NULL),
('Claude Auchinleck', 'United Kingdom', '8th Army', '1942-06-25', '1942-08-13'),
('Neil Ritchie', 'United Kingdom', '8th Army', '1941-11-26', '1942-06-25'),
('Erwin Rommel', 'Germany', 'Panzer Army Africa', '1942-03-19', '1943-02-22'),
('Georg Stumme', 'Germany', 'Panzer Army Africa', '1942-09-22', '1942-10-24'),
('Isoroku Yamamoto', 'Japan', 'Combined Fleet (Rengou Kantai)', '1939-08-30', '1943-04-18'),
('Chester W. Nimitz', 'USA', 'Pacific Fleet', '1941-12-17', '1945-09-02'),
('Takuma Nishimura', 'Japan', 'Imperial Guards (Konoe Shidan)', NULL, NULL),
('John D. Dalley', 'Singapore', 'Dalforce', '1941-12-25', '1942-02-13'),
('Duncan Maxwell', 'Australia', '27th Brigade', '1941-08-01', '1942-02-15'),
('Matsui Takurou', 'Japan', '5th Division', '1940-10-15', '1942-05-11'),
('Renya Mutaguchi', 'Japan', '18th Division', '1941-04-10', '1943-03-18'),
('Yoshio Nasu', 'Japan', '56th Infantry Regiment', '1941-10-15', '1942-02-18'),
('Harold Burfield Taylor', 'Australia', '22nd Brigade', '1940-07-15', '1942-02-12'),
('Arthur Leslie Varley', 'Australia', '22nd Brigade', '1942-02-12', '1942-02-15'),
('Frank Keith Simmons', 'United Kingdom', '1st Malaya Infantry Brigade', NULL, '1942-02-15'),
('Mineichi Koga', 'Japan', 'Combined Fleet (Rengou Kantai)', '1943-05-21', '1944-03-31'),
('Soemu Toyoda', 'Japan', 'Combined Fleet (Rengou Kantai)', '1944-05-03', '1945-05-29'),
('Jisaburou Ozawa', 'Japan', 'Combined Fleet (Rengou Kantai)', '1945-05-29', '1945-10-10'),
('Simon Bolivar Buckner Jr.', 'USA', '10th Army', '1944-06-20', '1945-06-18'),
('Roy Geiger', 'USA', '10th Army', '1945-06-18', '1945-06-23'),
('Joseph Warren Stilwell', 'USA', '10th Army', '1945-06-23', '1945-10-15'),
('Raymond A. Spruance', 'USA', '5th Fleet', '1943-08-05', '1945-11-08'),
('Mitsuru Ushijima', 'Japan', '32nd Army', '1944-08-08', '1945-06-22'),
('Günther Lütjens', 'Germany', 'Operation Rheinübung Task Force', '1941-05-18', '1941-05-27'),
('Lancelot E. Holland', 'United Kingdom', 'Battlecruiser Squadron', '1941-05-12', '1941-05-24'),
('John Tovey, 1st Baron Tovey', 'United Kingdom', 'Home Fleet', '1940-12-01', '1943-05-08'),
('Holland M. Smith', 'USA', 'V Amphibious Corps', '1943-08-25', '1944-07-11'),
('Harry Schmidt', 'USA', 'V Amphibious Corps', '1944-07-12', '1946-02-15'),
('Tadamichi Kuribayashi', 'Japan', '109th Division', '1944-06-08', '1945-03-26'),
('Alan Cunningham', 'United Kingdom', '8th Army', '1941-09-09', '1941-11-26'),
('Richard McCreery', 'United Kingdom', '8th Army', '1944-10-01', '1945-07-01');
INSERT INTO COMMANDM VALUES
('Marie-Pierre Kœnig', 'France', '1st Free French Brigade', '1943-05-16', '1943-08-01'),
('Leslie Morshead', 'Australia', '9th Australian Division', '1941-02-01', '1943-03-01'),
('Hermann Hoth', 'Germany', '4th Panzer Army', '1942-05-31', '1943-11-10'),
('Erhard Raus', 'Germany', '4th Panzer Army', '1943-11-10', '1944-04-21'),
('Erich Hoepner', 'Germany', '4th Panzer Army', '1941-02-15', '1942-01-07'),
('Richard Ruoff', 'Germany', '4th Panzer Army', '1942-01-08', '1942-05-31'),
('Nikolai F. Vatutin', 'USSR', '1st Ukrainian Front', '1943-10-01', '1944-03-01'),
('Georgy Zhukov', 'USSR', '1st Ukrainian Front', '1944-03-01', '1944-05-01'),
('Ivan Konev', 'USSR', '1st Ukrainian Front', '1944-05-01', '1945-05-01'),
('Gerd von Rundstedt', 'Germany', 'Army Group South', '1941-06-22', '1941-12-01'),
('Walter von Reichenau', 'Germany', 'Army Group South', '1941-12-01', '1942-01-12'),
('Maximilian von Weichs', 'Germany', 'Army Group South', '1942-07-09', '1943-02-12'),
('Fedor von Bock', 'Germany', 'Army Group South', '1942-01-12', '1942-07-09'),
('Erich von Manstein', 'Germany', 'Army Group South', '1943-02-12', '1944-03-30'),
('Fedor von Bock', 'Germany', 'Army Group Center', '1941-06-22', '1941-12-19'),
('Günther von Kluge', 'Germany', 'Army Group Center', '1941-12-19', '1943-10-12'),
('Wilhelm List', 'Germany', 'Army Group A', '1942-07-10', '1942-09-10'),
('Adolf Hitler', 'Germany', 'Army Group A', '1942-09-10', '1942-11-21'),
('Ewald von Kleist', 'Germany', 'Army Group A', '1942-11-22', '1943-06-01'),
('Ivan Konev', 'USSR', '2nd Ukrainian Front', '1943-07-01', '1944-05-01'),
('Rodion Malinovsky', 'USSR', '2nd Ukrainian Front', '1944-05-01', '1945-05-01'),
('Rodion Malinovsky', 'USSR', '3rd Ukrainian Front', '1943-10-01', '1944-05-01'),
('Fyodor Tolbukhin', 'USSR', '4th Ukrainian Front', '1943-10-01', '1944-05-01'),
('Konstantin Rokossovsky', 'USSR', '1st Belorussian Front', '1943-10-20', '1944-11-01'),
('Georgy Zhukov', 'USSR', '1st Belorussian Front', '1944-11-01', '1945-06-01'),
('Ewald von Kleist', 'Germany', '1st Panzer Army', '1940-03-01', '1942-11-21'),
('Eberhard von Mackensen', 'Germany', '1st Panzer Army', '1942-11-21', '1943-10-29'),
('Wolfram Freiherr von Richthofen', 'Germany', '4th Air Fleet', '1942-07-20', '1943-09-04'),
('Sergei Rudenko', 'USSR', '16th Air Army', '1942-10-01', '1947-02-01'),
('Konstantin Rokossovsky', 'USSR', 'Central Front', '1943-02-15', '1943-10-20'),
('Semyon Timoshenko', 'USSR', 'Southwestern Front', '1941-09-20', '1942-07-12'),
('Fyodor Kostenko', 'USSR', 'Southwestern Front', '1941-12-01', '1942-04-01'),
('Mikhail Kirponos', 'USSR', 'Southwestern Front', '1941-06-22', '1941-09-20'),
('Rodion Malinovsky', 'USSR', 'Southwestern Front', '1943-03-01', '1943-10-01'),
('Viktor Tsyganov', 'USSR', '38th Army', '1941-09-01', '1941-12-01'),
('Walter von Reichenau', 'Germany', '6th Army', '1939-10-10', '1941-12-29'),
('Friedrich Paulus', 'Germany', '6th Army', '1941-12-30', '1943-01-31'),
('Erwin Rommel', 'Germany', 'Army Group B', '1943-07-14', '1944-07-19'),
('Günther von Kluge', 'Germany', 'Army Group B', '1944-07-19', '1944-08-17'),
('Walter Model', 'Germany', 'Army Group B', '1944-08-17', '1945-04-21'),
('Omar Bradley', 'USA', '12th Army Group', '1944-07-14', '1945-07-12'),
('Jacob L. Devers', 'USA', '6th Army Group', '1944-07-29', '1945-06-01'),
('Bernard Montgomery', 'United Kingdom', '21st Army Group', '1944-01-01', '1945-08-01'),
('Wilhelm Ritter von Leeb', 'Germany', 'Army Group C', '1939-08-26', '1941-06-21'),
('Antoine-Marie-Benoît Besson', 'France', '3rd Army Group', NULL, NULL),
('André-Gaston Prételat', 'France', '2nd Army Group', NULL, NULL),
('Gaston-Henri Billotte', 'France', '1st Army Group', NULL, '1940-05-23'),
('Georges Maurice Jean Blanchard', 'France', '1st Army Group', '1940-05-23', '1940-05-29'),
('Jisaburou Ozawa', 'Japan', '1st Mobile Fleet', '1944-03-01', '1944-11-15'),
('Andrey Yeryomenko', 'USSR', 'Southern Front', '1943-01-01', '1943-02-02'),
('Rodion Malinovsky', 'USSR', 'Southern Front', '1943-02-02', '1943-03-22'),
('Fyodor Tolbukhin', 'USSR', 'Southern Front', '1943-03-22', '1943-10-20'),
('Dmitry Pavlov', 'USSR', 'Western Front', '1941-06-22', '1941-06-28'),
('Andrey Yeryomenko', 'USSR', 'Western Front', '1941-06-28', '1941-07-02'),
('Semyon Timoshenko', 'USSR', 'Western Front', '1941-07-02', '1941-09-01'),
('Ivan Konev', 'USSR', 'Western Front', '1941-09-01', '1943-02-01'),
('Georgy Zhukov', 'USSR', 'Western Front', '1941-10-01', '1942-08-01'),
('Semyon Timoshenko', 'USSR', 'Northwestern Front', '1942-10-01', '1943-03-01'),
('Ivan Konev', 'USSR', 'Northwestern Front', '1943-03-01', '1943-06-01'),
('Ivan Tyulenev', 'USSR', 'Southern Front', '1941-06-21', '1941-08-20'),
('Dmitry Ryabyshev', 'USSR', 'Southern Front', '1941-08-30', '1941-10-05'),
('Yakov Cherevichenko', 'USSR', 'Southern Front', '1941-10-05', '1941-12-01'),
('Ivan Bogdanov', 'USSR', 'Reserve Front', '1941-07-14', '1941-07-30'),
('Georgy Zhukov', 'USSR', 'Reserve Front', '1941-08-01', '1941-09-01'),
('Semyon Budyonny', 'USSR', 'Reserve Front', '1941-09-01', '1941-10-10'),
('Markian M. Popov', 'USSR', 'Reserve Front', '1943-04-06', '1943-04-15'),
('William Halsey Jr.', 'USA', '3rd Fleet', '1943-03-15', '1945-10-07'),
('Arthur S. Carpender', 'USA', '7th Fleet', '1943-03-15', '1943-11-26'),
('Thomas C. Kinkaid', 'USA', '7th Fleet', '1943-11-26', NULL),
('Konstantin Rokossovsky', 'USSR', '2nd Belorussian Front', '1944-11-01', '1945-06-01'),
('Heinrich Himmler', 'Germany', 'Army Group Vistula', '1945-01-28', '1945-03-20'),
('Gotthard Heinrici', 'Germany', 'Army Group Vistula', '1945-03-20', '1945-04-28'),
('Kurt Student', 'Germany', 'Army Group Vistula', '1945-04-29', '1945-05-08'),
('Tomoyuki Yamashita', 'Japan', '14th Area Army', '1944-09-26', '1945-08-15'),
('Masaharu Homma', 'Japan', '14th Area Army', '1941-11-06', '1942-08-01'),
('Shizuichi Tanaka', 'Japan', '14th Area Army', '1942-08-01', '1943-05-19'),
('Shigenori Kuroda', 'Japan', '14th Area Army', '1943-05-19', '1944-09-26'),
('Mark W. Clark', 'USA', '6th Army', '1947-06-01', '1949-09-30'),
('George P. Hayes', 'USA', '6th Army', '1946-10-13', '1947-06-01'),
('Joseph Warren Stilwell', 'USA', '6th Army', '1946-03-01', '1946-10-12'),
('Walter Krueger', 'USA', '6th Army', '1943-02-16', '1946-01-28');


INSERT INTO AXIS VALUES
(1),
(2),
(3),
(4),
(7),
(8),
(10),
(11),
(12),
(13),
(14),
(15),
(16),
(18),
(19),
(21),
(22),
(23),
(24),
(25),
(26),
(28),
(29),
(30),
(31),
(32),
(33),
(34),
(35),
(36),
(41);

INSERT INTO ALLIES VALUES
(1),
(2),
(3),
(4),
(6),
(7),
(8),
(9),
(10),
(11),
(12),
(13),
(14),
(15),
(16),
(17),
(18),
(19),
(21),
(22),
(23),
(24),
(25),
(26),
(28),
(29),
(30),
(31),
(32),
(34),
(35),
(36),
(37),
(38),
(39),
(41);

INSERT INTO AXISFORCE VALUES
('Japan', '1st Air Fleet (Kidou Butai)', 1),
('Germany', 'Army Group Don', 2),
('Germany', 'Army Group B', 2),
('Germany', 'Army Group North', 3),
('Japan', 'Combined Fleet (Rengou Kantai)', 4),
('Germany', 'Army Group Center', 7),
('Germany', 'Army Group Vistula', 7),
('Japan', '25th Army', 8),
('Germany', 'Operation Rheinübung Task Force', 10),
('Germany', 'Operation Rheinübung Task Force', 11),
('Japan', '109th Division', 12),
('Japan', 'Combined Fleet (Rengou Kantai)', 13),
('Japan', '32nd Army', 13),
('Germany', '10th Army', 14),
('Germany', 'Army Group C', 15),
('Germany', '14th Army', 15),
('Germany', 'Army Group B', 16),
('Germany', 'Army Group A', 16),
('Germany', 'Assault Detachment Koch', 18),
('Germany', 'Panzer Army Africa', 19),
('Germany', 'Army Group North', 21),
('Germany', 'Army Group Center', 21),
('Germany', 'Army Group South', 21),
('Germany', 'Army Group Center', 22),
('Germany', 'Luftwaffe', 23),
('Germany', 'Army Group Center', 24),
('Germany', 'Army Group South', 24),
('Japan', '1st Mobile Fleet', 25),
('Germany', 'Army Group A', 26),
('Germany', 'Army Group B', 26),
('Germany', 'Army Group C', 26),
('Japan', 'Imperial Guards (Konoe Shidan)', 28),
('Japan', '5th Division', 29),
('Japan', '18th Division', 29),
('Japan', '18th Division', 30),
('Japan', '56th Infantry Regiment', 30),
('Germany', 'Army Group B', 31),
('Germany', '6th Army', 32),
('Germany', 'Army Group South', 33),
('Germany', '4th Panzer Army', 34),
('Germany', '1st Panzer Army', 34),
('Germany', '4th Air Fleet', 34),
('Germany', 'Army Group South', 35),
('Germany', 'Army Group A', 35),
('Germany', 'Army Group Center', 35),
('Germany', '4th Panzer Army', 36),
('Japan', '14th Area Army', 41);

INSERT INTO ALLIEDFORCE VALUES
('USA', 'Pacific Fleet', 1),
('USSR', 'Stalingrad Front', 2),
('USSR', 'Don Front', 2),
('USSR', 'Southwestern Front', 2),
('USSR', 'Northern Front', 3),
('USSR', 'Leningrad Front', 3),
('USA', 'Pacific Fleet', 4),
('USA', '3rd Fleet', 6),
('USSR', '1st Belorussian Front', 7),
('USSR', '2nd Belorussian Front', 7),
('USSR', '1st Ukrainian Front', 7),
('United Kingdom', 'Malaya Command', 8),
('USA', '3rd Fleet', 9),
('USA', '7th Fleet', 9),
('United Kingdom', 'Battlecruiser Squadron', 10),
('United Kingdom', 'Home Fleet', 11),
('USA', 'V Amphibious Corps', 12),
('USA', '5th Fleet', 12),
('USA', '10th Army', 13),
('USA', '5th Fleet', 13),
('USA', '5th Army', 14),
('United Kingdom', '8th Army', 14),
('USA', '5th Army', 15),
('Belgium', 'Belgian Army', 16),
('United Kingdom', 'British Expeditionary Force', 16),
('France', 'French First Army Group', 16),
('Belgium', 'Belgian Army', 17),
('Belgium', '7th Infantry Division', 18),
('Belgium', 'Garrison of Fort Eben-Emael', 18),
('United Kingdom', '8th Army', 19),
('USSR', 'Northern Front', 21),
('USSR', 'Northwestern Front', 21),
('USSR', 'Western Front', 21),
('USSR', 'Southwestern Front', 21),
('USSR', 'Southern Front', 21),
('USSR', 'Western Front', 22),
('USSR', 'Reserve Front', 22),
('United Kingdom', 'Royal Air Force', 23),
('USSR', 'Southwestern Front', 24),
('USA', '5th Fleet', 25),
('France', '1st Army Group', 26),
('France', '2nd Army Group', 26),
('France', '3rd Army Group', 26),
('Singapore', 'Dalforce', 28),
('Australia', '27th Brigade', 28),
('Singapore', 'Dalforce', 29),
('Australia', '27th Brigade', 29),
('Australia', '22nd Brigade', 29),
('United Kingdom', '1st Malaya Infantry Brigade', 30),
('USA', '12th Army Group', 31),
('USA', '6th Army Group', 31),
('United Kingdom', '21st Army Group', 31),
('USSR', '38th Army', 32),
('USSR', 'Central Front', 34),
('USSR', '16th Air Army', 34),
('USSR', '1st Ukrainian Front', 35),
('USSR', '2nd Ukrainian Front', 35),
('USSR', '3rd Ukrainian Front', 35),
('USSR', '4th Ukrainian Front', 35),
('USSR', '1st Belorussian Front', 35),
('USSR', '1st Ukrainian Front', 36),
('United Kingdom', 'British Expeditionary Force', 37),
('France', '1st Free French Brigade', 38),
('Australia', '9th Australian Division', 39),
('USA', '6th Army', 41);

INSERT INTO BATTLE VALUES
(1, 'Attack on Pearl Harbour', 'Japanese surprise attack on the American port of Pearl Harbour, major Japanese tactical victory', 0, 29, 0, 0, 0, 0, 0, 64, 0, 188, 0, 4, 0, 0, 0, 3478, NULL),
(2, 'Battle of Stalingrad', 'German offensive to capture industrial city of Stalingrad, Soviet victory, destruction of German 6th Army', 1500, 900, 0, 0, 0, 0, 0, 868374, 4341, 2769, 0, 0, 0, 0, 0, 1129619, NULL),
(3, 'Siege of Leningrad', 'Prolonged German military blockade of the city of Leningrad, Soviet victory, siege lifted', 0, 0, 0, 0, 0, 0, 0, 579985, 0, 0, 0, 0, 0, 0, 0, 3959481, NULL),
(4, 'Battle of Midway', 'Decisive battle at Midway Atoll, US victory', 0, 248, 4, 0, 1, 0, 0, 3057, 0, 150, 1, 0, 0, 1, 0, 307, NULL),
(5, 'Battle of the Coral Sea', 'South Pacific confrontation, numerical Japanese victory, strategic Allied victory', 0, 97, 1, 0, 0, 1, 0, 966, 0, 69, 1, 0, 0, 1, 0, 656, NULL),
(6, 'Battle of Guadalcanal', 'Japanese attempt to retake island of Guadalcanal repelled by US forces, US victory', 0, 64, 0, 2, 1, 3, 0, 1900, 0, 36, 0, 0, 2, 7, 0, 1732, NULL),
(7, 'Battle of Berlin', 'Fall of Berlin to the Soviets, death of Adolf Hitler, Soviet victory', NULL, NULL, 0, 0, 0, 0, 0, 800000, 1997, 917, 0, 0, 0, 0, 0, 361367, NULL),
(8, 'Battle of Singapore', 'Japanese occupation of Singapore, major British military base and economic trading port, decisive Japanese victory', 0, 0, 0, 0, 0, 0, 0, 5092, 0, 0, 0, 0, 0, 0, 0, 85000, NULL),
(9, 'Battle of Leyte Gulf', 'Largest naval battle of WW2, decisive Allied victory, permanently crippled Japanese navy', 0, 300, 4, 3, 10, 11, 0, 12500, 0, 200, 1, 0, 0, 2, 0, 3000, NULL),
(10, 'Battle of the Denmark Strait', 'Naval engagement between Royal Navy and Kriegsmarine, short-lived tactical German victory, operational British victory, prevented loss of Atlantic shipping with loss of 1 capital ship', 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 1, 0, 0, 0, 1428, NULL),
(11, 'Battle of the Bismarck', 'Pursuit and sinking of the KMS Bismarck, British victory', 0, 0, 0, 1, 0, 0, 0, 2200, 0, 0, 0, 0, 0, 0, 0, 5, NULL),
(12, 'Battle of Iwo Jima', 'Landing and capture of the Japanese island of Iwo Jima, US victory', 0, 0, 0, 0, 0, 0, 0, 18375, 137, 0, 0, 0, 0, 0, 0, 26040, NULL),
(13, 'Battle of Okinawa', 'Landing and capture of the Japanese island of Okinawa, for use in Operation Downfall, US victory', 27, 1430, 0, 1, 1, 5, 0, 110000, 221, 763, 0, 0, 0, 12, 0, 75357, NULL),
(14, 'Battle of Monte Cassino', 'Series of assaults on the German-held defensive Winter Line, Allied victory', 0, 0, 0, 0, 0, 0, 0, 20000, 0, 0, 0, 0, 0, 0, 0, 55000, NULL),
(15, 'Battle of Anzio', 'Landing at Anzio to outflank German forces, US victory', 0, 0, 0, 0, 0, 0, 0, 40000, 0, 0, 0, 0, 0, 0, 0, 43000, NULL),
(16, 'Battle of Belgium', 'German invasion and occupation of Belgium, German victory', 0, 432, 0, 0, 0, 0, 0, 61218, 0, 900, 0, 0, 0, 0, 0, 222443, NULL),
(17, 'Battle of the Lys', 'Final major battle before the surrender of Belgium at the river Lys', NULL, NULL, 0, 0, 0, 0, 0, NULL, 0, 0, 0, 0, 0, 0, 0, 40000, 16),
(18, 'Battle of Fort Eben-Emael', 'Attack and capture of Fort Eben-Emael, a Belgian fortress of strategic importance, German victory', 0, 0, 0, 0, 0, 0, 0, 26, 0, 0, 0, 0, 0, 0, 0, 1060, 16),
(19, 'First battle of El-Alamein', 'British forces repel combined German-Italian force from Egypt, Stalemate', 0, 0, 0, 0, 0, 0, 0, 17000, 0, 0, 0, 0, 0, 0, 0, 13250, NULL),
(20, 'Second battle of El-Alamein', 'Allied forces comprehensively defeat German-Italian force, Allied victory', 500, 84, 0, 0, 0, 0, 0, 55985, 500, 97, 0, 0, 0, 0, 0, 13560, NULL),
(21, 'Operation Barbarossa', 'Invasion of the USSR by Nazi Germany for the oilfields of the Caucasus as well as the agricultural resources of the USSR, Axis failure', 2735, 2827, 0, 0, 0, 0, 0, 1000000, 20500, 21200, 0, 0, 0, 0, 0, 4973820, NULL),
(22, 'Battle of Moscow', 'Soviet defense of Moscow and repelling of German forces back, end of Operation Barbarossa, Soviet victory', 0, 0, 0, 0, 0, 0, 0, 581000, 0, 0, 0, 0, 0, 0, 0, 1029234, 21),
(23, 'Battle of Britain', 'Failure of German Air Force (Luftwaffe) to destroy British air defences, successful repulsion of German air forces by British air forces, British victory', 0, 1977, 0, 0, 0, 0, 0, 4245, 0, 1744, 0, 0, 0, 0, 0, 1964, NULL),
(24, 'First Battle of Kiev', 'Encirclement of USSR troops near Kiev, largest ever, German victory', NULL, NULL, 0, 0, 0, 0, 0, 61239, 411, 343, 0, 0, 0, 0, 0, 700544, NULL),
(25, 'Battle of the Philippine Sea', 'US forces eliminate Japanese ability to conduct large scale carrier actions, US victory', 0, 645, 3, 0, 0, 0, 0, 2987, 0, 123, 0, 0, 0, 0, 0, 109, NULL),
(26, 'Battle of France', 'German invasion and occupation of France, German victory', 822, 1236, 0, 0, 0, 0, 0, 163676, 2438, 2233, 0, 0, 0, 0, 0, 2260000, NULL),
(27, 'Battle of Gazala', 'Combined German-Italian force defeats British forces in Libya, Axis victory', 125, 0, 0, 0, 0, 0, 0, 6360, NULL, 0, 0, 0, 0, 0, 0, 50000, NULL),
(28, 'Battle of Kranji', 'Japanese forces assault and secure beachhead near Kranji, Japanese victory', 0, 0, 0, 0, 0, 0, 0, NULL, 0, 0, 0, 0, 0, 0, 0, NULL, 8),
(29, 'Battle of Bukit Timah', 'Japanese forces occupy Bukit Timah, Japanese victory', 0, 0, 0, 0, 0, 0, 0, NULL, 0, 0, 0, 0, 0, 0, 0, NULL, 8),
(30, 'Battle of Pasir Panjang', 'Japanese forces overwhelm British defenses at Bukit Chandu after strong resistance, Japanese victory', 0, 0, 0, 0, 0, 0, 0, NULL, 0, 0, 0, 0, 0, 0, 0, 159, 8),
(31, 'Battle of the Bulge (Ardennes Offensive)', 'Unsuccessful German offensive through the Ardennes to encircle and destroy 4 allied armies, Allied victory', NULL, 800, 0, 0, 0, 0, 0, 98000, NULL, 1000, 0, 0, 0, 0, 0, 90908, NULL),
(32, 'First Battle of Kharkov', 'German forces take the industrially important city of Kharkov, though the Soviets had relocated their factories further east, Germany victory', NULL, NULL, 0, 0, 0, 0, 0, NULL, NULL, NULL, 0, 0, 0, 0, 0, NULL, 21),
(33, 'Second Battle of Kharkov', 'German counteroffensive against initial Soviet offensive, encircling 4 Soviet armies and pushing back 2, German victory', 108, 49, 0, 0, 0, 0, 0, 30000, 1250, 542, 0, 0, 0, 0, 0, 277190, NULL),
(34, 'Third Battle of Kharkov', 'Recapture of Kharkov by German forces, German victory', 0, 0, 0, 0, 0, 0, 0, 11500, 0, 0, 0, 0, 0, 0, 0, 86469, NULL),
(35, 'Battle of the Dnieper', 'Soviets reclaim eastern bank of Dnieper, launch offensives against the western bank, Soviet victory', 0, 0, 0, 0, 0, 0, 0, 372000, 0, 0, 0, 0, 0, 0, 0, 1687164, NULL),
(36, 'Second Battle of Kiev', 'Liberation of Kiev by Societ forces, Soviet victory', 0, 0, 0, 0, 0, 0, 0, 16992, 271, 125, 0, 0, 0, 0, 0, 118042, 35),
(37, 'Battle of Dunkirk', 'British evacuate Allied forces from France but lose foothold in France', 100, 396, 0, 0, 0, 0, 0, 20000, 0, 177, 0, 0, 0, 0, 0, 61774, NULL),
(38, 'Battle of Bir Hakeim', 'French forces held off much larger Axis force, eventual German victory but bought British forces time', 0, 49, 0, 0, 0, 0, 0, 3300, 0, 110, 0, 0, 0, 0, 0, 370, NULL),
(39, 'Siege of Tobruk', 'Repulsion of Axis attacks on the city of Tobruk, Allied victory', 0, 150, 0, 0, 0, 0, 0, 12296, 0, 0, 0, 0, 0, 0, 0, 5989, NULL),
(40, 'Battle of Alam el Halfa', 'British forces repel Axis offensive, loss of initiative for Axis forces, British consolidate position and reinforce for the Second Battle of El-Alamein, British victory', 49, 36, 0, 0, 0, 0, 0, 2900, 68, 67, 0, 0, 0, 0, 0, 1750, NULL),
(41, 'Battle of Luzon', 'US forces liberate the Luzon island group', 232, 0, 0, 0, 0, 0, 0, 226050, 0, 0, 0, 0, 0, 0, 0, 37870, NULL);

INSERT INTO HAS VALUES
(1, 'Pearl Harbour', 1, 1, '1941-12-07', '1941-12-07'),
(2, 'Stalingrad', 2, 2, '1942-08-23', '1943-02-02'),
(3, 'Leningrad', 3, 3, '1941-09-08', '1944-01-27'),
(4, 'Midway Atoll', 4, 4, '1942-06-04', '1942-06-07'),
(5, 'Coral Sea', 4, 4, '1942-05-04', '1942-05-08'),
(6, 'Guadalcanal', 4, 6, '1942-11-12', '1942-11-15'),
(7, 'Berlin', 7, 7, '1945-04-16', '1945-05-02'),
(8, 'Singapore', 8, 8, '1942-02-08', '1942-02-15'),
(9, 'Leyte Gulf', 4, 9, '1944-10-23', '1944-10-26'),
(10, 'Denmark Strait', 10, 10, '1941-05-24', '1941-05-24'),
(11, 'Atlantic Ocean, west of Brest', 11, 11, '1941-05-26', '1941-05-27'),
(12, 'Iwo Jima', 12, 12, '1945-02-19', '1945-03-26'),
(13, 'Okinawa', 13, 13, '1945-03-26', '1945-07-02'),
(14, 'Monte Cassino', 14, 14, '1944-01-17', '1944-05-18'),
(15, 'Anzio', 15, 15, '1944-01-22', '1944-06-05'),
(16, 'Belgium', 16, 16, '1940-05-10', '1940-05-28'),
(17, 'Lys River', 16, 17, '1940-05-24', '1940-05-28'),
(18, 'Fort Eben-Emael', 18, 18, '1940-05-10', '1940-05-11'),
(19, 'El-Alamein', 19, 19, '1942-07-01', '1942-07-27'),
(20, 'El-Alamein', 19, 19, '1942-10-23', '1942-11-11'),
(21, 'Central-Eastern-Northeastern Europe', 21, 21, '1941-06-22', '1941-12-05'),
(22, 'Moscow', 22, 22, '1941-10-02', '1942-01-07'),
(23, 'Britain', 23, 23, '1940-07-10', '1940-10-31'),
(24, 'Kiev', 24, 24, '1941-08-23', '1941-09-26'),
(25, 'Philippine Sea', 25, 25, '1944-06-19', '1944-06-20'),
(26, 'France', 26, 26, '1940-05-10', '1940-06-25'),
(27, 'Gazala', 19, 19, '1942-05-26', '1942-06-21'),
(28, 'Kranji', 28, 28, '1942-02-09', '1942-02-10'),
(29, 'Bukit Timah', 29, 29, '1942-02-10', '1942-02-12'),
(30, 'Pasir Panjang', 30, 30, '1942-02-12', '1942-02-15'),
(31, 'The Ardennes', 31, 31, '1944-12-16', '1945-01-25'),
(32, 'Kharkov', 32, 32, '1941-10-20', '1941-10-24'),
(33, 'Kharkov', 33, 24, '1942-05-12', '1942-05-28'),
(34, 'Kharkov', 34, 34, '1943-02-19', '1943-03-15'),
(35, 'Dnieper River', 35, 35, '1943-08-26', '1943-12-23'),
(36, 'Kiev', 36, 36, '1943-11-03', '1943-12-22'),
(37, 'Dunkirk', 16, 37, '1940-05-26', '1940-06-04'),
(38, 'Bir Hakeim', 19, 38, '1942-05-26', '1942-06-11'),
(39, 'Tobruk', 19, 39, '1941-04-10', '1941-11-27'),
(40, 'El-Alamein', 19, 19, '1942-08-30', '1942-09-05'),
(41, 'Luzon', 41, 41, '1945-01-09', '1945-08-15');

INSERT INTO SURRENDER VALUES
('Poland', 'Germany', '1939-09-27'),
('Denmark', 'Germany', '1940-04-09'),
('Luxembourg', 'Germany', '1940-05-10'),
('Netherlands', 'Germany', '1940-05-15'),
('Belgium', 'Germany', '1940-05-28'),
('Norway', 'Germany', '1940-06-09'),
('France', 'Germany', '1940-06-22'),
('Singapore', 'Japan', '1942-02-15'),
('Italy', NULL, '1943-09-03'),
('Germany', NULL, '1945-05-07'),
('Japan', NULL, '1945-09-02');

INSERT INTO WAR VALUES
('Germany', 'Poland', '1939-09-01'),
('France', 'Germany', '1939-09-03'),
('United Kingdom', 'Germany', '1939-09-03'),
('USSR', 'Poland', '1939-09-17'),
('Germany', 'Denmark', '1940-04-09'),
('Germany', 'Norway', '1940-04-09'),
('Germany', 'Belgium', '1940-05-10'),
('Germany', 'Netherlands', '1940-05-10'),
('Germany', 'Luxembourg', '1940-05-10'),
('Italy', 'France', '1940-06-10'),
('Italy', 'United Kingdom', '1940-06-10'),
('France', 'Italy', '1940-06-11'),
('Germany', 'USSR', '1941-06-22'),
('Italy', 'USSR', '1941-06-22'),
('Japan', 'USA', '1941-12-07'),
('Japan', 'United Kingdom', '1941-12-07'),
('USA', 'Japan', '1941-12-08'),
('United Kingdom', 'Japan', '1941-12-08'),
('Germany', 'USA', '1941-12-11'),
('Italy', 'USA', '1941-12-11'),
('USA', 'Germany', '1941-12-11'),
('USA', 'Italy', '1942-12-11');

INSERT INTO EVENT VALUES
(1, 'Germany', NULL, '1933-01-30', 'Adolf Hitler becomes Chancellor of Germany'),
(2, 'Germany', 'USSR', '1939-08-23', 'Germany signs the Molotov-Ribbentrop Pact with the USSR'),
(3, 'Germany', 'Poland', '1939-09-01', 'WW2 begins with the invasion of Poland by Germany'),
(4, 'United Kingdom', NULL, '1939-09-03', 'Britain enters the war'),
(5, 'France', NULL, '1939-09-03', 'France enters the war'),
(6, 'USSR', 'Poland', '1939-09-17', 'The Soviet Union invades Poland'),
(7, 'United Kingdom', NULL, '1940-05-10', 'Winston Churchill becomes Prime Minister of Britain'),
(8, 'Germany', 'Belgium', '1940-05-10', 'Germany invades Belgium'),
(9, 'Germany', 'Luxembourg', '1940-05-10', 'Germany invades Luxembourg'),
(10, 'Germany', 'Netherlands', '1940-05-10', 'Germany invades the Netherlands'),
(11, 'Germany', 'Luxembourg', '1940-05-11', 'German forces occupy Luxembourg'),
(12, 'Netherlands', 'Germany', '1940-05-14', 'Battle of the Afsluitdijk, Dutch victory'),
(13, 'Italy', NULL, '1940-06-10', 'Italy enters the war'),
(14, 'Germany', NULL, '1940-09-22', 'Germany signs the Tripartite Pact'),
(15, 'Japan', NULL, '1940-09-22', 'Japan signs the Tripartite Pact'),
(16, 'Italy', NULL, '1940-09-22', 'Italy signs the Tripartite Pact'),
(17, 'Germany', 'Poland', '1940-10-03', 'Start of the Warsaw Ghetto'),
(18, 'Australia', 'Germany', '1941-04-10', 'Siege of Tobruk begins'),
(19, 'Germany', 'USSR', '1941-06-22', 'Commencement of Operation Barbarossa'),
(20, 'Germany', 'USSR', '1941-07-10', 'First Battle of Smolensk begins'),
(21, 'Germany', 'USSR', '1941-08-08', 'First Battle of Kiev begins'),
(22, 'Germany', 'USSR', '1941-09-08', 'Siege of Leningrad begins'),
(23, 'Germany', 'USSR', '1941-09-10', 'First Battle of Smolensk ends, German victory'),
(24, 'Germany', 'USSR', '1941-09-19', 'First Battle of Kiev ends, German victory'),
(25, 'Germany', 'USSR', '1941-10-02', 'Battle of Moscow begins'),
(26, 'Germany', 'USSR', '1941-10-06', 'German forces occupy Bryansk in the Battle of Bryansk'),
(27, 'Germany', 'USSR', '1941-10-10', 'German forces occupy Vyazma in the Battle of Vyazma'),
(28, 'Germany', 'USSR', '1941-10-20', 'First Battle of Kharkov begins'),
(29, 'Germany', 'USSR', '1941-10-24', 'First Battle of Kharkov ends, German victory'),
(30, 'Germany', 'USSR', '1941-11-16', 'Siege of Sevastopol begins'),
(31, 'Australia', 'Germany', '1941-11-27', 'Siege of Tobruk ends, Australian victory'),
(32, 'Japan', 'USA', '1941-12-07', 'Japan attacks the US port of Pearl Harbour'),
(33, 'USA', NULL, '1941-12-08', 'The US enters the war'),
(34, 'Japan', 'United Kingdom', '1941-12-18', 'Japan invades Hong Kong'),
(35, 'Japan', 'Philippines', '1941-12-22', 'Japan invades Luzon'),
(36, 'Libya', 'United Kingdom', '1941-12-24', 'British forces capture Benghazi'),
(37, 'Japan', 'United Kingdom', '1941-12-25', 'British forces surrender Hong Kong to the Japaneese'),
(38, 'Philippines', NULL, '1941-12-26', 'Manila declared open city'),
(39, 'Japan', 'Philippines', '1941-12-27', 'Japanese forces bomb Manila'),
(40, 'Germany', 'USSR', '1942-01-07', 'Battle of Moscow ends, Soviet victory'),
(41, 'Libya', 'Germany', '1942-01-29', 'German forces capture Benghazi'),
(42, 'Japan', 'United Kingdom', '1942-02-08', 'Battle of Singapore begins'),
(43, 'Japan', 'United Kingdom', '1942-02-15', 'Battle of Singapore ends, Japanese victory'),
(44, 'Japan', 'United Kingdom', '1942-02-15', 'Japanese forces occupy Singapore'),
(45, 'Japan', 'USA', '1942-05-04', 'Battle of Coral Sea begins'),
(46, 'Japan', 'USA', '1942-05-08', 'Battle of Coral Sea ends, Japanese material victory, US strategic victory'),
(47, 'Germany', 'USSR', '1942-05-12', 'Second Battle of Kharkov begins'),
(48, 'Germany', 'United Kingdom', '1942-05-26', 'Battle of Gazala begins'),
(49, 'Germany', 'France', '1942-05-26', 'Battle of Bir Hakeim begins'),
(50, 'Germany', 'USSR', '1942-05-30', 'Second Battle of Kahrkov ends, German victory'),
(51, 'Japan', 'USA', '1942-06-04', 'Battle of Midway begins'),
(52, 'Japan', 'USA', '1942-06-07', 'Battle of Midway ends, US victory'),
(53, 'Japan', 'USA', '1942-06-07', 'Japan invades the Aleutian Islands'),
(54, 'Germany', 'France', '1942-06-11', 'Battle of Bir Hakeim ends, German victory'),
(55, 'Germany', 'United Kingdom', '1942-06-21', 'Battle of Gazala ends, German victory'),
(56, 'Germany', 'Libya', '1942-06-21', 'German forces capture Tobruk'),
(57, 'Germany', 'Egypt', '1942-06-28', 'German forces capture Mersa Matruh'),
(58, 'Germany', 'USSR', '1942-06-28', 'First Battle of Voronezh begins'),
(59, 'Germany', 'United Kingdom', '1942-07-01', 'First Battle of El-Alamein begins'),
(60, 'Germany', 'USSR', '1942-07-04', 'Siege of Sevastopol ends, German victory'),
(61, 'Germany', 'USSR', '1942-07-24', 'First Battle of Voronezh ends, German victory'),
(62, 'Germany', 'United Kingdom', '1942-07-27', 'First Battle of El-Alamein ends, Stalemate'),
(63, 'Germany', 'USSR', '1942-08-23', 'Battle of Stalingrad begins'),
(64, 'Germany', 'United Kingdom', '1942-08-30', 'Battle of Alam el Halfa begins'),
(65, 'Germany', 'United Kingdom', '1942-09-05', 'Battle of Alam el Halfa ends, British victory'),
(66, 'Germany', 'United Kingdom', '1942-10-23', 'Second Battle of El-Alamein begins'),
(67, 'France', NULL, '1942-11-08', 'Operation Torch: Allied forces land in French North Africa'),
(68, 'Germany', 'United Kingdom', '1942-11-11', 'Second Battle of El-Alamein ends, British victory'),
(69, 'Japan', 'USA', '1942-11-12', 'Battle of Guadalcanal begins'),
(70, 'Libya', 'United Kingdom', '1942-11-13', 'British forces capture Tobruk'),
(71, 'Japan', 'USA', '1942-11-15', 'Battle of Guadalcanal ends, US victory'),
(72, 'Libya', 'United Kingdom', '1942-11-15', 'British forces capture Derna'),
(73, 'Libya', 'United Kingdom', '1942-11-20', 'British forces capture Benghazi'),
(74, 'Libya', 'United Kingdom', '1943-01-23', 'British forces capture Tripoli'),
(75, 'Germany', 'USSR', '1943-02-02', 'Battle of Stalingrad ends, Soviet victory'),
(76, 'Germany', 'USSR', '1943-02-16', 'Third Battle of Kharkov begins'),
(77, 'Japan', 'USA', '1943-03-02', 'Battle of the Bismarck Sea begins'),
(78, 'Japan', 'USA', '1943-03-04', 'Battle of the Bismarck Sea ends, US victory'),
(79, 'Germany', 'USSR', '1943-03-15', 'Third Battle of Kharkov ends, German victory'),
(80, 'Germany', 'United Kingdom', '1943-03-16', 'Battle of Mareth begins'),
(81, 'Germany', 'United Kingdom', '1943-03-31', 'Battle of Mareth ends, British victory'),
(82, 'Germany', 'United Kingdom', '1943-04-06', 'Battle of Wadi Akarit begins'),
(83, 'Germany', 'United Kingdom', '1943-04-07', 'Battle of Wadi Akarit ends, British victory'),
(84, NULL, NULL, '1943-05-13', 'Axis forces in Tunisia surrender to Allied forces, end of North African Campaign'),
(85, 'Germany', 'USSR', '1943-07-05', 'Battle of Kursk begins'),
(86, 'Germany', 'USSR', '1943-08-01', 'Battle of Kursk ends, Soviet victory'),
(87, 'Germany', 'USSR', '1943-08-03', 'Battle of Belgorod begins'),
(88, 'Germany', 'USSR', '1943-08-03', 'Fourth Battle of Kharkov begins'),
(89, 'Germany', 'USSR', '1943-08-07', 'Second Battle of Smolensk begins'),
(90, 'Germany', 'USSR', '1943-08-23', 'Battle of Belgorod ends, Soviet victory'),
(91, 'Germany', 'USSR', '1943-08-23', 'Fourth Battle of Kharkov ends, Soviet victory'),
(92, 'Germany', 'USSR', '1943-08-26', 'Battle of the Dnieper begins'),
(93, 'Germany', 'USSR', '1943-10-02', 'Second Battle of Smolensk ends, Soviet victory'),
(94, 'USSR', NULL, '1943-11-06', 'Soviet forces liberate Kiev'),
(95, 'Japan', 'USA', '1943-11-20', 'Battle of Tarawa begins'),
(96, 'Japan', 'USA', '1943-11-23', 'Battle of Tarawa ends, US victory'),
(97, 'Germany', 'USSR', '1943-12-23', 'Battle of the Dnieper ends, Soviet victory'),
(98, 'Germany', 'USSR', '1944-01-18', 'Siege of Leningrad ends, Soviet victory'),
(99, 'Italy', NULL, '1944-06-04', 'Allied forces liberate Rome'),
(100, 'France', NULL, '1944-06-06', 'Operation Overlord: Allied forces land on Normandy, France, D-Day'),
(101, 'Germany', 'United Kingdom', '1944-06-13', 'First German V-1 missiles hit Britain'),
(102, 'Japan', 'USA', '1944-06-19', 'Battle of the Philippine Sea begins'),
(103, 'Japan', 'USA', '1944-06-20', 'Battle of the Philippine Sea ends, US victory'),
(104, 'Germany', 'Poland', '1944-08-01', 'Warsaw Uprising begins'),
(105, 'France', NULL, '1944-08-25', 'Allied forces take Paris'),
(106, 'Germany', 'USSR', '1944-09-15', 'Battle of Belgrade begins'),
(107, 'Germany', 'Poland', '1944-10-02', 'Warsaw Uprising ends, German victory'),
(108, 'Japan', 'USA', '1944-10-23', 'Battle of Leyte Gulf begins'),
(109, 'Japan', 'USA', '1944-10-26', 'Battle of Leyte Gulf ends, US victory'),
(110, 'Germany', 'USSR', '1944-11-24', 'Battle of Belgrade ends, Soviet Victory'),
(111, 'Germany', 'USSR', '1944-12-24', 'Battle of Budapest begins'),
(112, 'USSR', 'Germany', '1945-01-27', 'Soviet forces liberate Auschwitz'),
(113, 'United Kingdom', 'Germany', '1945-02-13', 'Firebombing of Dresden'),
(114, 'USA', 'Germany', '1945-02-13', 'Firebombing of Dresden'),
(115, 'Germany', 'USSR', '1945-02-13', 'Battle of Budapest ends, Soviet victory'),
(116, 'Japan', 'USA', '1945-02-19', 'US forces invade Iwo Jima'),
(117, 'USA', NULL, '1945-03-07', 'US forces cross the River Rhine'),
(118, 'Japan', 'USA', '1945-04-01', 'US forces invade Okinawa'),
(119, 'USA', NULL, '1945-04-12', 'US President Franklin D. Roosevelt passes away, succeeded by Vice-President Harry S. Truman'),
(120, 'Germany', 'USSR', '1945-04-16', 'Battle of Berlin begins'),
(121, 'Germany', NULL, '1945-04-30', 'Adolf Hitler commits suicide'),
(122, 'Germany', 'USSR', '1945-05-02', 'Battle of Berlin ends, Soviet victory'),
(123, NULL, NULL, '1945-05-08', 'Victory in Europe (VE) Day'),
(124, 'Philippines', NULL, '1945-07-05', 'Liberation of Philippines announced'),
(125, 'USA', NULL, '1945-07-16', 'First atomic bomb tests by the US'),
(126, 'USA', 'Japan', '1945-08-06', 'First atomic bomb dropped on Hiroshima, Japan'),
(127, 'Japan', 'USSR', '1945-08-08', 'Soviet Union declares war on Japan and invades Manchuria'),
(128, 'USA', 'Japan', '1945-08-09', 'Second atomic bomb dropped on Nagasaki, Japan'),
(129, 'Japan', NULL, '1945-08-14', 'Japan announces unconditional surrender'),
(130, NULL, NULL, '1945-08-15', 'Victory in Japan (VJ) Day in Europe'),
(131, 'United Kingdom', NULL, '1945-08-30', 'British forces re-occupy Hong Kong'),
(132, NULL, NULL, '1945-09-02', 'Victory in Japan (VJ) Day in US'),
(133, NULL, NULL, '1945-10-24', 'United Nations (UN) is born');

INSERT INTO SHIP VALUES
('IJN Yukikaze', 'Destroyer', 'Japan', NULL, NULL),
('IJN Amagi', 'Battleship', 'Japan', NULL, NULL),
('IJN Nagato', 'Battleship', 'Japan', NULL, NULL),
('HMS Javelin', 'Destroyer', 'United Kingdom', NULL, NULL),
('HMS Queen Elizabeth', 'Battleship', 'United Kingdom', NULL, NULL),
('HMS Warspite', 'Battleship', 'United Kingdom', NULL, NULL),
('HMS Renown', 'Battleship', 'United Kingdom', NULL, NULL),
('HMS King George V', 'Battleship', 'United Kingdom', NULL, NULL),
('HMS Duke of York', 'Battleship', 'United Kingdom', NULL, NULL),
('HMS Nelson', 'Battleship', 'United Kingdom', NULL, NULL),
('HMS Rodney', 'Battleship', 'United Kingdom', NULL, NULL),
('USS Radford', 'Destroyer', 'USA', NULL, NULL),
('USS Enterprise', 'Carrier', 'USA', NULL, NULL),
('USS Essex', 'Carrier', 'USA', NULL, NULL),
('USS San Diego', 'Light Cruiser', 'USA', NULL, NULL),
('USS Portland', 'Heavy Cruiser', 'USA', NULL, NULL),
('USS Washington', 'Battleship', 'USA', NULL, NULL),
('USS Archerfish', 'Submarine', 'USA', NULL, NULL),
('USS Cavalla', 'Submarine', 'USA', NULL, NULL),
('USS Blackfin', 'Submarine', 'USA', NULL, NULL),
('USS Phoenix CL-46', 'Light Cruiser', 'USA', NULL, NULL),
('KMS Deutschland', 'Heavy Cruiser', 'Germany', NULL, NULL),
('KMS Prinz Eugen', 'Heavy Cruiser', 'Germany', NULL, NULL),
('HMS Prince of Wales', 'Battleship', 'United Kingdom', NULL, '1941-12-10'),
('HMS Repulse', 'Battleship', 'United Kingdom', NULL, '1941-12-10'),
('HMS Dorsetshire', 'Heavy Cruiser', 'United Kingdom', NULL, '1942-04-05'),
('IJN Jintsuu', 'Light Cruiser', 'Japan', NULL, '1943-07-13'),
('IJN Sendai', 'Light Cruiser', 'Japan', NULL, '1943-11-03'),
('IJN I-26', 'Submarine', 'Japan', NULL, '1944-10-26'),
('IJN Zuikaku', 'Carrier', 'Japan', NULL, '1944-10-25'),
('USS Hornet', 'Carrier', 'USA', NULL, '1942-10-27'), 
('USS Helena CL-50', 'Light Cruiser', 'USA', NULL, '1943-07-06'),
('KMS Tirpitz', 'Battleship', 'Germany', NULL, '1944-11-12'),
('KMS Gneisenau', 'Battleship', 'Germany', NULL, '1945-03-23'),
('KMS U-81', 'Submarine', 'Germany', NULL, '1944-01-09'),
('KMS Bismarck', 'Battleship', 'Germany', 'HMS Dorsetshire', '1941-05-27'),
('HMS Hood', 'Battleship', 'United Kingdom', 'KMS Bismarck', '1941-05-24'),
('IJN Hiei', 'Battleship', 'Japan', 'USS Enterprise', '1942-11-14'),
('IJN Akagi', 'Carrier', 'Japan', 'USS Enterprise', '1942-06-05'),
('IJN Kaga', 'Carrier', 'Japan', 'USS Enterprise', '1942-06-04'),
('IJN Hiryuu', 'Carrier', 'Japan', 'USS Enterprise', '1942-06-05'),
('IJN Ayanami', 'Destroyer', 'Japan', 'USS Washington', '1942-12-15'),
('USS Laffey DD-459', 'Destroyer', 'USA', 'IJN Hiei', '1942-11-13'),
('IJN Shoukaku', 'Carrier', 'Japan', 'USS Cavalla', '1944-06-19'),
('IJN Shigure', 'Destroyer', 'Japan', 'USS Blackfin', '1945-01-24'),
('IJN I-19', 'Submarine', 'Japan', 'USS Radford', '1943-11-25'),
('USS Wasp', 'Carrier', 'USA', 'IJN I-19', '1942-09-15'),
('IJN Noshiro', 'Light Cruiser', 'Japan', 'USS Wasp', '1944-12-20'),
('USS Yorktown CV-5', 'Carrier', 'USA', 'IJN Hiryuu', '1942-06-07'),
('IJN Souryuu', 'Carrier', 'Japan', 'USS Yorktown CV-5', '1942-06-04'),
('IJN Shinano', 'Carrier', 'Japan', 'USS Archerfish', '1944-11-29'),
('HMS Ark Royal', 'Carrier', 'United Kingdom', 'KMS U-81', '1941-11-14'),
('KMS Scharnhorst', 'Battleship', 'Germany', 'HMS Duke of York', '1943-12-26'),
('USS Juneau', 'Light Cruiser', 'USA', 'IJN I-26', '1942-11-13');
INSERT INTO SHIP VALUES
('KMS U-47', 'Submarine', 'Germany', NULL, '1941-03-07'),
('HMS Royal Oak', 'Battleship', 'United Kingdom', 'KMS U-47', '1939-10-14'),
('USS Arizona', 'Battleship', 'USA', NULL, '1941-12-07'),
('USS Albacore', 'Submarine', 'USA', NULL, '1944-11-07'),
('USS Skipjack', 'Submarine', 'USA', NULL, NULL),
('USS Bonefish', 'Submarine', 'USA', NULL, '1945-06-18'),
('USS Harder', 'Submarine', 'USA', NULL, '1944-08-21'),
('USS Tautog', 'Submarine', 'USA', NULL, NULL),
('USS Redfin', 'Submarine', 'USA', NULL, NULL),
('USS Barb', 'Submarine', 'USA', NULL, NULL),
('USS Hake', 'Submarine', 'USA', NULL, NULL),
('USS Owen', 'Destroyer', 'USA', NULL, NULL),
('USS Sealion', 'Submarine', 'USA', NULL, NULL),
('USS Darter', 'Submarine', 'USA', NULL,'1944-10-24'),
('USS Dace', 'Submarine', 'USA', NULL, NULL),
('USS Rasher', 'Submarine', 'USA', NULL, NULL),
('USS Croaker', 'Submarine', 'USA', NULL, NULL),
('USS Paddle', 'Submarine', 'USA', NULL, NULL),
('USS Saratoga', 'Carrier', 'USA', NULL, NULL),
('USS Lexington', 'Carrier', 'USA', NULL, '1942-05-08'),
('USS Ranger', 'Carrier', 'USA', NULL, NULL),
('IJN Akebono', 'Destroyer', 'Japan', NULL, '1944-11-14'),
('IJN Ushio', 'Destroyer', 'Japan', NULL, NULL),
('IJN Ryuujou', 'Carrier', 'Japan', 'USS Saratoga', '1942-08-24'),
('IJN Kikuzuki', 'Destroyer', 'Japan', 'USS Yorktown CV-5', '1942-05-05'),
('IJN Uzuki', 'Destroyer', 'Japan', NULL, '1944-12-12'),
('IJN Shiokaze', 'Destroyer', 'Japan', NULL, NULL),
('IJN Hokaze', 'Destroyer', 'Japan', 'USS Paddle', '1944-07-06'),
('IJN Nagara', 'Light Cruiser', 'Japan', 'USS Croaker', '1944-08-07'),
('IJN Shouhou', 'Carrier', 'Japan', NULL, '1942-05-07'),
('IJN Sazanami', 'Destroyer', 'Japan', 'USS Albacore', '1944-01-14'),
('IJN Ooshio', 'Destroyer', 'Japan', 'USS Albacore', '1943-02-20'),
('IJN Arashio', 'Destroyer', 'Japan', NULL, '1943-03-04'),
('IJN Tenryuu', 'Light Cruiser', 'Japan', 'USS Albacore', '1942-12-19'),
('IJN Oboro', 'Destroyer', 'Japan', NULL, '1942-10-17'),
('IJN Hatsuharu', 'Destroyer', 'Japan', NULL, '1944-11-13'),
('IJN Suzukaze', 'Destroyer', 'Japan', 'USS Skipjack', '1944-01-25'),
('IJN Inazuma', 'Destroyer', 'Japan', 'USS Bonefish', '1944-05-14'),
('IJN Ikazuchi', 'Destroyer', 'Japan', 'USS Harder', '1944-04-13'),
('IJN Isonami', 'Destroyer', 'Japan', 'USS Tautog', '1943-04-09'),
('IJN Uranami', 'Destroyer', 'Japan', NULL, '1944-10-26'),
('IJN Fujinami', 'Destroyer', 'Japan', 'USS Essex', '1944-10-27'),
('IJN Kinu', 'Light Cruiser', 'Japan', NULL, '1944-10-26'),
('IJN Akigumo', 'Destroyer', 'Japan', 'USS Redfin', '1944-04-11'),
('IJN Makigumo', 'Destroyer', 'Japan', NULL, '1943-02-01'),
('IJN Zuihou', 'Carrier', 'Japan', NULL, '1944-10-25'),
('IJN Unyo', 'Carrier', 'Japan', 'USS Barb', '1944-09-17'),
('IJN Ise', 'Battleship', 'Japan', NULL, '1945-07-28'),
('IJN Hyuuga', 'Battleship', 'Japan', NULL, '1945-07-27'),
('IJN Myoukou', 'Heavy Cruiser', 'Japan', NULL, NULL),
('IJN Nachi', 'Heavy Cruiser', 'Japan', 'USS Lexington', '1944-11-05'),
('IJN Takao', 'Heavy Cruiser', 'Japan', NULL, NULL),
('IJN Atago', 'Heavy Cruiser', 'Japan', 'USS Darter', '1944-10-23'),
('IJN Choukai', 'Heavy Cruiser', 'Japan', NULL, '1944-10-25'),
('IJN Maya', 'Heavy Cruiser', 'Japan', 'USS Dace', '1944-10-23'),
('IJN Shiratsuyu', 'Destroyer', 'Japan', NULL, '1944-06-15'),
('IJN Kazagumo', 'Destroyer', 'Japan', 'USS Hake', '1944-06-08'),
('IJN Yuugumo', 'Destroyer', 'Japan', NULL, '1943-10-07'),
('IJN Nowaki', 'Destroyer', 'Japan', 'USS Owen', '1944-10-26'),
('IJN Tanikaze', 'Destroyer', 'Japan', 'USS Harder', '1944-06-09'),
('IJN Urakaze', 'Destroyer', 'Japan', 'USS Sealion', '1944-11-21'),
('IJN Isokaze', 'Destroyer', 'Japan', NULL, '1945-04-07'),
('IJN Hamakaze', 'Destroyer', 'Japan', NULL, '1945-04-07'),
('IJN Arashi', 'Destroyer', 'Japan', NULL, '1943-08-07'),
('IJN Hagikaze', 'Destroyer', 'Japan', NULL, '1943-08-07'),
('IJN Kawakaze', 'Destroyer', 'Japan', NULL, '1943-08-07'),
('IJN Maikaze', 'Destroyer', 'Japan', NULL, '1944-02-17'),
('USS Alabama', 'Battleship', 'USA', NULL, NULL),
('USS North Carolina', 'Battleship', 'USA', NULL, NULL),
('USS South Dakota', 'Battleship', 'USA', NULL, NULL),
('USS Baltimore', 'Heavy Cruiser', 'USA', NULL, NULL),
('USS Colorado', 'Battleship', 'USA', NULL, NULL),
('USS Tennessee', 'Battleship', 'USA', NULL, NULL),
('USS California', 'Battleship', 'USA', NULL, NULL),
('USS Nevada', 'Battleship', 'USA', NULL, NULL),
('USS Chicago', 'Heavy Cruiser', 'USA', NULL, '1943-01-30'),
('USS Houston', 'Heavy Cruiser', 'USA', NULL, '1942-03-01'),
('USS Pennsylvania', 'Battleship', 'USA', NULL, NULL),
('USS Missouri', 'Battleship', 'USA', NULL, NULL),
('IJN Fubuki', 'Destroyer', 'Japan', NULL, '1942-10-11'),
('IJN Yamamoto', 'Battleship', 'Japan', NULL, '1945-04-07'),
('IJN Musashi', 'Battleship', 'Japan', NULL, '1944-10-24'),
('IJN Kongou', 'Battleship', 'Japan', 'USS Sealion', '1944-11-21'),
('IJN Shimakaze', 'Destroyer', 'Japan', NULL, '1944-11-11'),
('IJN Taiyou', 'Carrier', 'Japan', 'USS Rasher', '1944-08-18'),
('IJN Taihou', 'Carrier', 'Japan', 'USS Albacore', '1944-06-19'),
('IJN Haguro', 'Heavy Cruiser', 'Japan', NULL, '1945-05-16'),
('USS Vestal', 'Repair', 'USA', NULL, NULL),
('IJN Akashi', 'Repair', 'Japan', NULL, '1944-03-30'),
('USS Intrepid', 'Carrier', 'USA', NULL, NULL),
('USS Iowa', 'Battleship', 'USA', NULL, NULL),
('USS Bataan', 'Carrier', 'USA', NULL, NULL),
('USS Indianapolis', 'Heavy Cruiser', 'USA', NULL, '1945-07-30'),
('USS Massachusetts', 'Battleship', 'USA', NULL, NULL),
('USS Bunker Hill', 'Carrier', 'USA', NULL, NULL),
('USS San Francisco', 'Heavy Cruiser', 'USA', NULL, NULL),
('USS Maury', 'Destroyer', 'USA', NULL, NULL),
('USS Nicholas', 'Destroyer', 'USA', NULL, NULL),
('RM Conte di Cavour', 'Battleship', 'Italy', NULL, NULL),
('RM Vittorio Veneto', 'Battleship', 'Italy', NULL, NULL),
('RM Littorio', 'Battleship', 'Italy', NULL, NULL),
('FS Jean Bart', 'Battleship', 'France', NULL, NULL),
('FS Richelieu', 'Battleship', 'France', NULL, NULL),
('HMS Ajax', 'Light Cruiser', 'United Kingdom', NULL, NULL),
('HMS Belfast', 'Light Cruiser', 'United Kingdom', NULL, NULL),
('HMS Dido', 'Light Cruiser', 'United Kingdom', NULL, NULL),
('HMS Paladin', 'Destroyer', 'United Kingdom', NULL, NULL),
('KMS U-205', 'Submarine', 'Germany', 'HMS Paladin', '1943-02-17'),
('HMS Hermione', 'Light Cruiser', 'United Kingdom', 'KMS U-205', '1942-06-16'),
('IJN Chiyoda', 'Carrier', 'Japan', NULL, '1944-10-25'),
('IJN Chitose', 'Carrier', 'Japan', 'USS Essex', '1944-10-25'),
('KMS Admiral Graf Spee', 'Heavy Cruiser', 'Germany', NULL, '1939-12-17'),
('KMS Admiral Hipper', 'Heavy Cruiser', 'Germany', NULL, '1945-05-03');


INSERT INTO HASS VALUES
('KMS Bismarck', 'Germany', 'Operation Rheinübung Task Force', '1941-05-18', '1941-05-27'),
('KMS Prinz Eugen', 'Germany', 'Operation Rheinübung Task Force', '1941-05-18', '1941-05-27'),
('IJN Akagi', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-04-10', '1942-06-05'),
('IJN Kaga', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-04-10', '1942-06-04'),
('IJN Hiryuu', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-04-10', '1942-06-05'),
('IJN Souryuu', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-04-10', '1942-06-04'),
('IJN Zuikaku', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-12-07', '1944-10-25'),
('IJN Shoukaku', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-12-07', '1944-06-19'),
('HMS Hood', 'United Kingdom', 'Battlecruiser Squadron', NULL, '1941-05-24'),
('HMS Prince of Wales', 'United Kingdom', 'Battlecruiser Squadron', NULL, NULL),
('HMS King George V', 'United Kingdom', 'Home Fleet', NULL, NULL),
('HMS Royal Oak', 'United Kingdom', 'Home Fleet', '1939-09-03', '1939-10-14'),
('HMS Rodney', 'United Kingdom', 'Home Fleet', '1939-09-03', NULL),
('HMS Nelson', 'United Kingdom', 'Home Fleet', '1939-09-03', NULL),
('HMS Ark Royal', 'United Kingdom', 'Home Fleet', '1939-09-03', '1941-11-14'),
('IJN Akebono', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-04-10', '1942-04-10'),
('IJN Ushio', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-04-10', '1942-04-10'),
('IJN Sazanami', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-04-10', '1942-04-10'),
('IJN Kikuzuki', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-04-10', '1942-04-10'),
('IJN Uzuki', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-04-10', '1942-04-10'),
('IJN Ryuujou', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-04-10', '1942-07-14'),
('IJN Shiokaze', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-12-07', '1942-04-10'),
('IJN Hokaze', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-12-07', '1942-04-10'),
('IJN Taiyou', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-12-07', '1942-04-10'),
('IJN Shouhou', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-05-07'),
('IJN Nagara', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Nowaki', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Arashi', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Hagikaze', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Maikaze', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Kazagumo', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Makigumo', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Yuugumo', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Urakaze', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Isokaze', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Tanikaze', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Hamakaze', 'Japan', '1st Air Fleet (Kidou Butai)', '1942-04-10', '1942-07-14'),
('IJN Akigumo', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-12-07', '1942-07-14'),
('IJN Oboro', 'Japan', '1st Air Fleet (Kidou Butai)', '1941-12-07', '1942-07-14');

INSERT INTO ACCOUNTS VALUES(1, 'admin', 'admin', 'admin@gmail.com');

<div class="alert alert-block alert-warning">
Add in relevant select statements to show that your data is populated correctly FOR EACH relation, one cell each relation.
</div>

In [ ]:
%%sql
SELECT * FROM COUNTRY;

In [ ]:
%%sql
SELECT * FROM PLACE;

In [ ]:
%%sql
SELECT * FROM COMMANDER;

In [ ]:
%%sql
SELECT * FROM MILITARY;

In [ ]:
%%sql
SELECT * FROM COMMANDM;

In [ ]:
%%sql
SELECT * FROM AXIS;

In [ ]:
%%sql
SELECT * FROM ALLIES;

In [ ]:
%%sql
SELECT * FROM AXISFORCE;

In [ ]:
%%sql
SELECT * FROM ALLIEDFORCE;

In [ ]:
%%sql
SELECT * FROM BATTLE;

In [ ]:
%%sql
SELECT * FROM HAS;

In [ ]:
%%sql
SELECT * FROM SURRENDER;

In [ ]:
%%sql
SELECT * FROM WAR;

In [ ]:
%%sql
SELECT * FROM EVENT;

In [ ]:
%%sql
SELECT * FROM SHIP;

In [ ]:
%%sql
SELECT * FROM HASS;

In [ ]:
%%sql
SELECT * FROM ACCOUNTS;

In [ ]:
%%sql
SELECT * FROM TABLESTATS;

### Section G: Stored Program & Queries Script

<div class="alert alert-block alert-warning">
<b>SQL Query:</b> <br>
    
* Pose 3 questions (asked by end user/administrator of your domain) and write SELECT queries to answer them. State the question that is being asked for each query, and also a short explanation of why the question is relevant to the domain. If relevant, you may wish to implement the query as a view or stored procedure.
 
* Write the full SELECT statement that answers the query. 
 
* Each query must be sufficiently complex (join of a few tables, use of aggregate functions, nested queries etc). Ideally, these queries should be implemented in your final web interface.
 
* Finally, show a copy of the result set produced by each query. 
</div>

#### Query 1

Describe the query here in words (example of aggregate function)

Display the average number of forces deployed by the US and Japan in WW2. This can be used to show on average how much military strength the two had, and if there is significant disparity between the average value of one strength characteristic and the actual value, it may be worth investigating more why that is so. For example, the US had 16.1 million soldiers while Japan had 6.1 million, for an average value of 11.1 million that shows quite some disparity.

In [ ]:
%%sql
SELECT COUNT(*) AS NAME, AVG(MAXGSTR) AS MAXGSTR, AVG(NUMARMOR) AS NUMARMOR, AVG(NUMCV) AS NUMCV, AVG(NUMBB) AS NUMBB, AVG(NUMC) AS NUMC, AVG(NUMDD) AS NUMDD, AVG(NUMSS) AS NUMSS, AVG(NUMFIGHT) AS NUMFIGHT, AVG(NUMBOMB) AS NUMBOMB, AVG(NUMARMORL) AS NUMARMORL, AVG(NUMAIRCRAFTL) AS NUMAIRCRAFTL, AVG(NUMCVL) AS NUMCVL, AVG(NUMBBL) AS NUMBBL, AVG(NUMCL) AS NUMCL, AVG(NUMDDL) AS NUMDDL, AVG(NUMSSL) AS NUMSSL, AVG(MCASUALTY) AS MCASUALTY, AVG(CCASUALTY) AS CCASUALTY FROM COUNTRY WHERE NAME IN ('USA', 'Japan');

#### Query 2

Describe the query here in words (example of join)

Display all militaries existing on a certain date (here, existence is determined by whether it is currently being commanded by a commander). This is useful if we want to see all the existing militaries on a certain date, for example we want to find out what other militaries existed on the day of the attack on Pearl Harbour (7 Dec 1941) which we can then use to do other searches.

In [ ]:
%%sql
SELECT * FROM MILITARY,COMMANDM WHERE COMMANDM.MCNAME=MILITARY.CNAME AND COMMANDM.MNAME=MILITARY.NAME AND (CAST('1941-12-07' AS DATE) BETWEEN COMMANDM.SDATE AND COMMANDM.EDATE);

#### Query 3

Describe the query here in words (example of nested query)

In WW2, ground strength was usually a good indicator of the industrial power and output of a country. Hence explaining why countries like the Soviet Union and USA dominated in later stages of the war. Hence, display all countries that Germany was stronger than (in terms of ground strength).

In [ ]:
%%sql
SELECT * FROM COUNTRY WHERE COUNTRY.MAXGSTR<(SELECT MAXGSTR FROM COUNTRY WHERE COUNTRY.NAME LIKE '%GERMANY%');

<div class="alert alert-block alert-warning">
<b>Triggers and Events:</b> <br>
Shortlist 2 relevant triggers or scheduled events that are useful for your database system. 
Describe what the trigger/event is for and why it is useful for your DB.
</div>

#### Trigger/Event 1

After inserting into country table, we want to know how many countries there are. This is so we can provide the overview of the database, which tells us statistisc such as number of countries, number of commanders, number of ships, etc. This helps in showing completeness of the database

In [ ]:
%%sql
/*CREATE TRIGGER TRIGGER_NUMCOUNTRY1 AFTER INSERT ON COUNTRY FOR EACH ROW UPDATE TABLESTATS SET NUMCOUNTRY=(SELECT COUNT(*) FROM COUNTRY);*/

#### Trigger/Event 2

Similar to Trigger 1, we wish to also know how many countries there are after a deletion from country table. It should be noted that all these triggers have already been entered as part of the DDL, therefore there is no need to execute these SQl statements. I have enclosed them in comments.

In [ ]:
%%sql
/*CREATE TRIGGER TRIGGER_NUMCOUNTRY2 AFTER DELETE ON COUNTRY FOR EACH ROW UPDATE TABLESTATS SET NUMCOUNTRY=(SELECT COUNT(*) FROM COUNTRY);*/

### Section H: Web UI

<div class="alert alert-block alert-warning">
<b>Instructions:</b> <br>
    
For this deliverable you will write a web application that interacts with your database to manage your domain. This application must allow the user to extract specific information from the database, through a user-friendly interface. 
 
Additional marks will be given for good webpage design (in terms of navigation, organization and functionality), and aesthetically pleasing webpage.
 
Your web interface should have the following functionalities:<br>
    
* <b> Login page:</b> <br>
    Use sessions to ensure the correct user will be able to login to their account. The login page should have login, and create new user function. You should verify the user account information using the database. If your target users for the database is admin only, you may create 2-3 accounts for admin purpose (also as proof of concept the login works for multiple users).		 
*  <b> Search & Browse page:</b> <br>
    Upon login, users can search and browse the “data”. 
Searching is likely the most typical action for a user. The user should be presented with a form to specify their search criteria, and based on the results of the underlying database query, will be presented either a list of matching records or a single matching record if only one was found.
<br>It is not necessary to allow user to search for all tables (and they shouldn't be allowed to!). Select a few tables where the search function make sense. You are advised to implement the queries shortlisted in Section G as far as possible.
 
*  <b>Insert, Edit & Delete page: </b>
   <br> Users should be able to insert, edit and delete their entries!
    
Note that you will need to upload ALL source code for the Web UI for this section.
</div>

Attached relevant image of your FINAL web interface below.

<img src="pic1.png">
<img src="pic2.png">
<img src="pic3.png">
<img src="pic4.png">
<img src="pic5.png">
<img src="pic6.png">
<img src="pic7.png">
<img src="pic8.png">
<img src="pic9.png">
<img src="pic10.png">

### Section I: Project Video Demo

<div class="alert alert-block alert-warning">
Record a video demo to showcase the functionalities of your Web UI. The demo should be supplemented with relevant "explanation" to walk the viewer through your Web UI. If you have both admin and normal users, please demo all functionalities from different perspectives.<br><br>
Replace `FR4QIeZaPeM` with the code from your youtube video and execute the code to load your video.
</div>

In [1]:
from IPython.display import HTML

# Youtube
HTML('<iframe width="560" height="315" src="https://www.youtube.com/embed/HtrDUaEa9kA?rel=0&amp;controls=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>')

C:\Users\user\anaconda64\lib\site-packages\IPython\core\display.py:717: UserWarning: Consider using IPython.display.IFrame instead
  warnings.warn("Consider using IPython.display.IFrame instead")

### Section J: Project Reflection

<div class="alert alert-block alert-warning">
Write a 1 page reflection here. You may reflect on the following points: <br>
    
* What insights have you gained after completing this project? 
* How has completing the project affected your view of database systems?
* How do you think this project experience would be useful to you in future?
</div>

If I had to sum up this project in one word, it would be 'tedious'. The next word after that would be 'difficult'. After having experienced 10 semesters of CS projects, it would have been easy to assume that this project would be manageable. However, I found it one of the hardest, if not the hardest project to do. For starters, my database data was not easily collected or web scraped. Thus, I had to manually read through online articles and website to populate. Furthermore, despite my best efforts, there are still some data that I am unable to find, due to lack of documentation by those in the past. This was really quite frustrating, and led to the NULL values in the database. The actual coding of the database besides the data entry was rather straightforward, and I think creating triggers and queries was also easily done. The next hurdle would be the web interface. It was my first time making such a complicated web interface, and I really had many problems along the way. I think it was good that we started doing the web interface during the lab time, since it really helped me alot, else I would still be struggling to do the web interface when the project DDL and ER/RelSchem were due, or even now, at the final project submission.

For insights, I think that I really did learn alot from this project, not just in terms of how databases work, but also how webpages work and communicate with each other. I think I am alot more confident in designing such web pages with various backends now as well. In terms of the database, I also did learn alot about MYSQL database, although perhaps most of it was from the lessons, and this was just putting it into practice. Nevertheless, it was interesting to see how well everything connected and was related with each other, as well as how all the pieces fit into place to create a responsive web app capable of querying a database. I also understood the pain of creating a robust database, such as normalizing, representing relationships correctly, and yes, even the searching and entering of data. One interesting thing in this project that occurred to me was the use of NULL values, since there were times when I was unsure if I should use a NULL value or a 0, especially since I would be doing mathematical operations on those data fields later on. In terms of database systems, I think that they are exceedingly useful. Instead of having to look all over the internet for various pieces of data and put them together myself, I can just consult a database for all the information in one place. It allows for easy access and readability of data, as well as editing (and deleting). 

In the future, I think this experience will be valuable, since I now have more experience working with databases and web design in general. I also exposed myself to Flask, Jinja2, Javascript, Ajax, jQuery and many others in the course of this project, all of which enriched me greatly. If I could re-do this project again, I think I would like to try using a php framework, since there were some functions I wanted to implement in this project that would be alot easier in php. Overall, however,it was still a rather fun (if tedious and difficult) experience that I learnt alot from.

<hr>
© NUS High School of Math & Science